<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MindSageWeb</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/assets/css/app.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/assets/css/app.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/assets/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body ng-app="app">

    <div class="top-bar" data-topbar role="navigation">
        <div class="row">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"><img width="160" src="http://www.mindsage.org/assets/img/logo.png"></li>
                </ul>
            </div>
            <div class="top-bar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                        <ul class="menu">
                            <li class="has-form">
                                <button type="submit" class="secondary hollow button radius">LOG OUT</button>
                            </li>
                            <li class="has-form">
                                <a asp-controller="My" asp-action="Index" class="hollow button radius">My Course</a>
                            </li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="menu">
                        <li class="has-form">
                            <a asp-controller="Account" asp-action="Login" class="secondary hollow button radius" data-open="loginModal">LOGIN</a>
                        </li>
                        <li class="has-form">
                            <a asp-controller="Account" asp-action="Register" class="hollow button radius">SIGNUP</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    @RenderBody()

    @*<div class="reveal tiny" id="loginModal" data-reveal>
        <div class="modal-head"><h4 class="text-center">LOGIN</h4></div>
        <div class="row">
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <form>
                    <div class="row column log-in-form">

                        <label>
                            NAME
                            <input type="text">
                        </label>
                        <label>
                            PASSWORD
                            <input type="password">
                        </label>
                        <p class="text-right"><a type="submit" class="button">Log In</a></p>
                        <p class="text-center"><a href="#">Forgot your password?</a></p>
                        <p class="text-center"><a data-open="registerModal">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>*@
    <div class="reveal tiny" id="registerModal" data-reveal>
        <div class="modal-head"><h4 class="text-center">SIGNUP</h4></div>
        <div class="row">
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <form>
                    <div class="row column log-in-form">

                        <label>
                            NAME
                            <input type="text">
                        </label>
                        <label>
                            EMAIL
                            <input type="email">
                        </label>
                        <label>
                            PASSWORD
                            <input type="password">
                        </label>
                         <label>
                            CONFIRM PASSWORD
                            <input type="password">
                        </label>
                        <p class="medium-12 row columns text-right"><a type="submit" class="button">SIGNUP</a></p>
                    </div>
                </form>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="dropdown-pane" id="login-dropdown" data-dropdown>
        Login
    </div>
    <footer class="footer">
        <div class="row">
            <div class="large-2 column">
                <img class="thumbnail" src="http://placehold.it/100x100">
            </div>
            <div class="small-10 row columns">
                <br />
                <br />
                <p class="links">
                    <a href="#">Home</a>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                    <a href="#">About</a>
                    <a href="#">Faq</a>
                    <a href="#">Contact</a>
                </p>
            </div>

        </div>
    </footer>

    <environment names="Development">
        <script src="~/assets/js/app.js" asp-append-version="true"></script>
        <script src="~/js/appBundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/app.js" asp-append-version="true"></script>
        <script src="~/assets/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>