@{
    ViewData["Title"] = "Home Page";
}

<div class="row content-section main-section-hight">
    <div class="medium-6 medium-centered large-6 large-centered columns">
        <h4>Link a card</h4>
        <form class="large-12columns">

            <div class="row">
                <div class="large-6 columns">
                    <label>
                        First Name
                        <input type="text" name="cardholder" placeholder="" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>
                        Last Name
                        <input type="text" name="cardholder" placeholder="" />
                    </label>
                </div>
                <div class="large-8 columns">
                    <label>
                        Card Number
                        <input type="text" name="cardnumber" placeholder="" />
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        Card Type
                        <select id="card" required>
                            <option value="visa">Visa</option>
                            <option value="mastercard">Master Card</option>
                        </select>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        Exp Month
                        <input type="text" name="expmonth" placeholder="MM" />
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        Exp Year
                        <input type="text" name="expyear" placeholder="YYYY" />
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        CVC Code
                        <input type="text" name="cvccode" placeholder="ex: 123" />
                    </label>
                </div>
                <div class="large-12 columns">
                    <label>
                        Billing Address
                        <input type="text" name="address" placeholder="" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>
                        State
                        <input type="text" name="cardholder" placeholder="" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>
                        City
                        <input type="text" name="cardholder" placeholder="" />
                    </label>
                </div>
                <div class="large-8 columns">
                    <label>
                        Country
                        <select id="contry" required>
                            <option value="USA">USA</option>
                            <option value="UK">UK</option>
                        </select>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        Zip Code
                        <input type="text" name="address" placeholder="" />
                    </label>
                </div>
                <div class="columns">
                    <a  asp-controller="Purchase" asp-action="Confirm" class="button large">Purchase</a>
                </div>
            </div><!--/row-->
        </form>
    </div>
</div>