<img src="http://placehold.it/2000x750?text=VideoBanner">
<div class="row column text-center content-section">
    <h1>CHOOSE YOUR PROGRAM</h1>
</div>

<div class="grid-block small-up-3">

    <div class="grid-block">
        <div class="image-wrapper overlay-fade-in-new-background">
            <img src="http://placeimg.com/640/480/any/grayscale" />
            <a asp-action="detail" asp-controller="home" asp-route-id="CourseCatalog01">
                <div class="image-overlay-content">
                    <h1>item.Name</h1>
                    <p class="price">item.Description</p>
                </div>
            </a>
        </div>
    </div>
    <div class="grid-block">

        <div class="image-wrapper overlay-fade-in-new-background">

            <img src="http://placeimg.com/640/480/arch" />
            <a href="#">
                <div class="image-overlay-content">
                    <h1>MIDDLE SCHOOL</h1>
                    <p class="price">Lorem ipsum Ea tempor sed ut in reprehenderit ex anim fugiat dolore nulla tempor cupidatat ut laborum.</p>
                </div>
            </a>
        </div>

    </div>
    <div class="grid-block">

        <div class="image-wrapper overlay-fade-in-new-background">

            <img src="http://placeimg.com/640/480/nature" />
            <a href="#">
                <div class="image-overlay-content">
                    <h1>HIGH SCHOOL</h1>
                    <p class="price">$189,000</p>
                </div>
            </a>
        </div>

    </div>
    <div class="grid-block">

        <div class="image-wrapper overlay-fade-in-new-background">

            <img src="http://placeimg.com/640/480/people" />
            <a href="#">
                <div class="image-overlay-content">
                    <h1>PD</h1>
                    <h2>PROFESIONAL DEVELOPMENT</h2>
                    <p class="price">$99.99</p>
                </div>
            </a>
        </div>

    </div>
    <div class="grid-block">

        <div class="image-wrapper overlay-fade-in-new-background">

            <img src="http://placeimg.com/640/480/tech" />
            <a href="#">
                <div class="image-overlay-content">
                    <h1>OUR APPROACH</h1>
                    <p class="price">$2319.99</p>
                </div>
            </a>
        </div>

    </div>
    <div class="grid-block">

        <div class="image-wrapper overlay-fade-in-new-background">

            <img src="http://placeimg.com/640/480/any/grayscale" />
            <a href="#">
                <div class="image-overlay-content">
                    <h1>.ORG</h1>
                    <h2>(OUR ORGANIZATION)</h2>
                    <p class="price"></p>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="row column text-center content-section">
    <h1>MINDSAGE IN FOCUS</h1>
</div>

<img src="http://placehold.it/2000x750?text=Banner">

<div class="row column text-center content-section">
    <h1>PARTNER LOGO</h1>
</div>
<div class="grid-block large-up-6">
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>
    <div class="grid-block">
        <img src="http://placehold.it/190x120">
    </div>

</div>

