@model ChangeProfileImageViewModel
@{
    ViewData["Title"] = "Change Profile's Image";
}


<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Manage" asp-action="ChangeProfileImage" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <h4>Change Profile's Image Form</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            @Html.HiddenFor(it => it.ClassRoom)
            @Html.DisplayFor(it => it.ImagePath)
            <label asp-for="ImagePath" class="col-md-2 control-label"></label>
            <input asp-for="ImagePath" type="file" class="show-for-sr" id="photoInput" accept="image/jpeg, image/png" onchange="uploadFile(this.files)"/>
            <p id="inputlabel"></p><br><br>
            <span asp-validation-for="ImagePath" class="text-danger"></span>
            <button type="submit" class="button large">Upload</button>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {
            uploadFile = function (files) {
                var max_size = 1048576;
                if (files[0].size > max_size) {
                    document.getElementById("inputlabel").innerHTML = "file too big (max 1mb)";
                    document.getElementById("photoInput").value = null;
                    return false;
                }
                if (files[0].type != "image/jpeg" && files[0].type != "image/png") {
                    document.getElementById("inputlabel").innerHTML = "only jpeg and png file.";
                    document.getElementById("photoInput").value = null;
                    return false;
                }
                document.getElementById("inputlabel").innerHTML = "";
                var image = new Image();

                image.onload = notify_complete;
                image.src = document.getElementById("photoInput").value;
                alert(image.naturalHeight);
            };
        });
    </script>
}