@model ChangeProfileImageViewModel
@{
    ViewData["Title"] = "Change Profile's Image";
}


<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Manage" asp-action="ChangeProfileImage" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <h4>Change Profile's Image Form</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            @Html.HiddenFor(it => it.ClassRoom)
            @Html.DisplayFor(it => it.ImagePath)
            <label asp-for="ImagePath" class="col-md-2 control-label"></label>
            <input asp-for="ImagePath" type="file" class="show-for-sr" /><br><br>
            <span asp-validation-for="ImagePath" class="text-danger"></span>
            <button type="submit" class="button large">Upload</button>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
