@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <h4>Set your password</h4>
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            @Html.HiddenFor(it => it.ClassRoom)
            <div class="form-group">
                <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="button large">Set password</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
