---
name: app.course.calendar
url: /calendar
controller: 'app.calendar.CarlendarController as cx'
---
<div class="large-8 push-4 large-offset-1 columns">
    <div class="grid-block bottom-border">
        <p> Begin Date : {{cx.BeginDate| date:"MM/dd/yyyy"}} 
            <a><input id="datepicker" type="text" ng-model="cx.BeginDate" ng-show="false"></a>
        </p>
        <span class="button" ng-click="cx.SetStartDate(cx.BeginDate)" style="margin-left:2em;">Set begin date</span>
    </div>
    <div ng-show="cx.isPrepareCourseScheduleContentComplete && (cx.courseInformation.BeginDate != null)">
        <span class="align-left button" ng-click="cx.ApplyToAllCourse()">Apply to all coureses</span>
        <ul class="calendar">
            <li class="title"><a class="change-month-prev"><span class="fi-arrow-left" ng-click="cx.prevMount()" /></a> {{ cx.monthNames }} {{ cx.year }} <a class="change-month-next"><span class="fi-arrow-right" ng-click="cx.nextMount()" /></a></li>
            <li class="day-header grid-block small-up-7">
                <div class="small-1 day">Sun</div>
                <div class="small-1 day">Mon</div>
                <div class="small-1 day">Tue</div>
                <div class="small-1 day">Wed</div>
                <div class="small-1 day">Thu</div>
                <div class="small-1 day">Fri</div>
                <div class="small-1 day">Sat</div>
            </li>

            <li class="week grid-block small-up-7" ng-repeat="week in cx.allweeks">
                <div zf-open="selectDay" class="small-1 day" ng-repeat="day in week" ng-class="{'today': cx.CheckToday(day),  'previous-month': day.getMonth() < cx.month, 'next-month': day.getMonth() > cx.month , 'odd': cx.IsOdd(day), 'even': cx.IsEven(day), 'selected': cx.OnSelected(day)}" ng-click="cx.Selected(day)">
                    <div class="grid-block">
                        <div ng-class="{'holiday': cx.IsHoliday(day), 'not-holiday': !cx.IsHoliday(day)}">{{ day.getDate() }}</div><span class="fi-fast-forward shift-icon" ng-if="cx.IsShift(day)"></span>
                    </div>
                    <p>{{cx.IsStartLesson(day)}}</p>
                    <br ng-if="cx.IsStartLesson(day) == ''">
                </div>
            </li>
            <!-- Repeat for additional weeks -->
        </ul>
        <zf-offcanvas id="selectDay" position="right" class="extend-right">
            <div class="small-offset-1 bottom-border align-center small-10">
                <div>
                    <h5>Select by day</h5>
                    <div class="grid-block show-select-date">
                        <div class="align-right grid-block"><h6>{{ cx.fisrtSelected | date:"MM/dd/yyyy" }} </h6></div>
                        <div class="align-left grid-block"><h6 ng-show="cx.lastSelected"> - {{ cx.lastSelected | date:"MM/dd/yyyy" }}</h6></div>
                    </div>
                </div>
                <div class="align-left grid-block">
                    <div class="grid-block">
                        <label>
                            <input ng-model="cx.IsHolidayRange" type="radio" data-ng-value="true">Holiday
                        </label>
                    </div>
                    <div class="grid-block">
                        <label>
                            <input ng-model="cx.IsHolidayRange" type="radio" data-ng-value="false" ng-click="cx.ShifhtRange=false">Not Holiday
                        </label>
                    </div>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.ShifhtRange" type="checkbox" ng-disabled="!cx.IsHolidayRange">Shift
                    </label>
                </div>
                <div class="align-center grid-block">
                    <div class="button align-center small-12 grid-block" ng-click="cx.SetCourseScheduleRange()" zf-close="">Submit</div>
                </div>
            </div>

            <div class="small-offset-1 bottom-border align-center small-10">
                <h5>Select by week day</h5>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.sun" type="checkbox">Sunday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.mon" type="checkbox">Monday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.tue" type="checkbox">Tuesday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.wed" type="checkbox">Wednesday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.thu" type="checkbox">Thursday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.fri" type="checkbox">Friday
                    </label>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.sat" type="checkbox">Saturday
                    </label>
                </div>
                <div class="align-left grid-block">
                    <div class="grid-block">
                        <label>
                            <input ng-model="cx.IsHolidayWeek" type="radio" data-ng-value="true">Holiday
                        </label>
                    </div>
                    <div class="grid-block">
                        <label>
                            <input ng-model="cx.IsHolidayWeek" type="radio" data-ng-value="false" ng-click="cx.ShifhtWeek=false">Not Holiday
                        </label>
                    </div>
                </div>
                <div class="grid-block">
                    <label>
                        <input ng-model="cx.ShifhtWeek" type="checkbox" ng-disabled="!cx.IsHolidayWeek">Shift
                    </label>
                </div>
                <div class="align-center grid-block">
                    <div class="button align-center small-12 grid-block" ng-click="cx.SetCourseScheduleWeek()" zf-close="">Submit</div>
                </div>
          </div>
            <div class="small-offset-1 button align-center small-10 grid-block" zf-close="" ng-click="cx.cancelSelected()">Cancel</div>
        </zf-offcanvas>
    </div>
</div>
<!--<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>-->
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            constrainInput: true,
            showOn: "button",
            buttonImage: '../assets/img/icon/calendardatepicker.png',
            buttonImageOnly: true,
            buttonText: "Select date"
        });
    });
</script>