---
name: app.course.coursemap
url: /coursemap
controller: 'app.coursemaps.CourseMapController as cx'
---
<div class="large-8 push-4 large-offset-1 columns">
    <h1>COURSE MAP</h1>
    <div ng-repeat="item in cx.content">
        <div class="clearfix">
            <div class="title float-left">
                <h2>SEMESTER {{ item.SemesterName }}</h2>
            </div>
            <a class="float-right"  ng-click="isclose = !isclose">
                <i class="fi-plus size-24" ng-if="$first" ng-show="isclose"></i>
                <i class="fi-minus size-24" ng-if="$first" ng-show="!isclose"></i>
                <i class="fi-plus size-24" ng-if="!$first" ng-show="!isclose"></i>
                <i class="fi-minus size-24" ng-if="!$first" ng-show="isclose"></i>
            </a>
        </div>
        <div ng-if="$first" ng-show="!isclose">
            <div class="grid-block small-up-2 medium-up-5">
                <div ng-repeat="lesson in item.LessonStatus" class="grid-content">
                    <div ng-show="!cx.userProfile.IsTeacher">
                        <a href="#" ng-show="!lesson.IsLocked" ui-sref="app.main.lesson({ classRoomId: cx.userProfile.CurrentClassRoomId, lessonId: lesson.LessonId })">
                            <img ng-show="!lesson.IsLocked &&  lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId)" src="../assets/img/icon/blue.png" width="100">
                            <img ng-show="!lesson.IsLocked &&  lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId)" src="../assets/img/icon/bluewithpencil.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId) && cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/green.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId) && cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/greenwithpencil.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId) && !cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/orange.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId) && !cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/orangewithpencil.png" width="100">
                        </a>
                        <img ng-show="lesson.IsLocked" src="../assets/img/icon/black.png" width="100">
                    </div>
                    <div ng-show="cx.userProfile.IsTeacher">
                        <a href="#" ui-sref="app.main.lesson({ classRoomId: cx.userProfile.CurrentClassRoomId, lessonId: lesson.LessonId })">
                            <img ng-show="lesson.IsCurrent" class="thumbnail" src="../assets/img/icon/blue.png" width="100">
                            <img ng-show="!lesson.IsCurrent" class="thumbnail" src="../assets/img/icon/green.png" width="100">
                        </a>
                    </div>
                    <p>{{ lesson.LessonWeekName }}</p>
                </div>
            </div>
        </div>

        <div ng-if="!$first" ng-show="isclose">
            <div class="grid-block small-up-2 medium-up-5" >
                <div ng-repeat="lesson in item.LessonStatus" class="grid-content">
                    <div ng-show="!cx.userProfile.IsTeacher">
                        <a href="#" ng-show="!lesson.IsLocked" ui-sref="app.main.lesson({ classRoomId: cx.userProfile.CurrentClassRoomId, lessonId: lesson.LessonId })">
                            <img ng-show="!lesson.IsLocked &&  lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId)" src="../assets/img/icon/blue.png" width="100">
                            <img ng-show="!lesson.IsLocked &&  lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId)" src="../assets/img/icon/bluewithpencil.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId) && cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/green.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId) && cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/greenwithpencil.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent && !cx.HaveAnyComments(lesson.LessonId) && !cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/orange.png" width="100">
                            <img ng-show="!lesson.IsLocked && !lesson.IsCurrent &&  cx.HaveAnyComments(lesson.LessonId) && !cx.HaveReadAllContents(lesson.LessonId)" src="../assets/img/icon/orangewithpencil.png" width="100">
                        </a>
                        <img ng-show="lesson.IsLocked"  src="../assets/img/icon/black.png" width="100">
                    </div>
                    <div ng-show="cx.userProfile.IsTeacher">
                        <a href="#" ui-sref="app.main.lesson({ classRoomId: cx.userProfile.CurrentClassRoomId, lessonId: lesson.LessonId })">
                            <img ng-show="lesson.IsCurrent" class="thumbnail" src="../assets/img/icon/blue.png" width="100">
                            <img ng-show="!lesson.IsCurrent" class="thumbnail" src="../assets/img/icon/green.png" width="100">
                        </a>
                    </div>
                    <p>{{ lesson.LessonWeekName }}</p>
                </div>  
            </div>
        </div>
    </div>
</div>