---
name: dpick
url: /dpick
---

<h1>Date Picekr</h1>

<div class="grid-container">
    <div class="grid-block">
        <div class="grid-content">
            <input type="text" id="dp1" />
            <input type="date" id="dp2" />
        </div>
    </div>
    <div class="grid-block">
    </div>
    <div class="grid-block">
    </div>
    <div class="grid-block">
    </div>
</div>

<div class="grid-container">
    <div class="grid-block">
        <div class="grid-content">
            Start date&nbsp;
            <a href="#" class="button tiny" id="dp4" data-date-format="yyyy-mm-dd" data-date="2012-02-20">Change</a>
        </div>
    </div>
    <div class="grid-block">
        <div class="grid-content" id="startDate">2012-02-20</div>
    </div>
    <div class="grid-block">
        <div class="grid-content">
            End date&nbsp;
            <a href="#" class="button tiny" id="dp5" data-date-format="yyyy-mm-dd" data-date="2012-02-25">Change</a>
        </div>
    </div>
    <div class="grid-block">
        <div class="grid-content" id="endDate">2012-02-25</div>
    </div>
</div>



<script>
    $(function () {
        $('#dp1').fdatepicker();
        $('#dp2').fdatepicker();

        // implementation of custom elements instead of inputs
        var startDate = new Date(2012, 1, 20);
        var endDate = new Date(2012, 1, 25);
        $('#dp4').fdatepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() > endDate.valueOf()) {
                    $('#alert').show().find('strong').text('The start date can not be greater then the end date');
                } else {
                    $('#alert').hide();
                    startDate = new Date(ev.date);
                    $('#startDate').text($('#dp4').data('date'));
                }
                $('#dp4').fdatepicker('hide');
            });
        $('#dp5').fdatepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() < startDate.valueOf()) {
                    $('#alert').show().find('strong').text('The end date can not be less then the start date');
                } else {
                    $('#alert').hide();
                    endDate = new Date(ev.date);
                    $('#endDate').text($('#dp5').data('date'));
                }
                $('#dp5').fdatepicker('hide');
            });
    });
</script>