---
name: evlist
url: /evlist
---

<div class="row">
    <div class="small-9 columns small-centered">
        <article class="event">

            <div class="event-date">
                <p class="event-month">Sept</p>
                <p class="event-day">18</p>
            </div>

            <div class="event-desc">
                <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p>
                <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
            </div>

        </article>

        <hr>

        <article class="event">

            <div class="event-date">
                <p class="event-month">Oct</p>
                <p class="event-day">21</p>
            </div>

            <div class="event-desc">
                <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p>
                <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
            </div>

        </article>
    </div>
</div>
