---
name: app.main.lesson
url: /lesson/:lessonId/:classRoomId
controller: 'app.lessons.LessonController as cx'
---

<div class="large-8 push-4 large-offset-1 columns" ng-init="mcx.ChangeVideo(cx.content.PrimaryContentURL)">

    <div class="grid-block clearfix">
        <div class="grid-block float-left">
            <h1>SEMESTER {{ cx.content.SemesterName }}</h1>
        </div>
        <div ng-show="cx.content.IsTeacher" class="grid-block float-right align-right">
            <a ng-class="{ 'inactive': !cx.teacherView }" ng-click="cx.selectTeacherView()">TEACHER VIEW</a>
            <span>|</span>
            <a ng-class="{ 'inactive': cx.teacherView }" ng-click="cx.selectStdView()">STUDENT VIEW</a>
        </div>
    </div>
    
    <div class="card teacherMessage" ng-show="cx.content.CourseMessage != null">
        <div class="card-section clearfix">
            <a ng-click="cx.ReadNote()" class="float-right">x</a>
            <div class="grid-content float-left">
                <i class="fi-alert size-36"></i>
            </div>
            <div class="grid-content">
                <p>{{ cx.content.CourseMessage }}</p>
            </div>
        </div>
    </div>


    <div class="card visible">
        <div class="card-section">
            <h2 class="success label titlePosition">Week {{ cx.content.Order }}</h2>

            <div ng-show="cx.teacherView">
                <h3>{{ cx.content.Title }}</h3>
                <hr />
                <p>{{ cx.content.ShortTeacherLessonPlan }}</p>
                <a ng-click="detailTeacherClose = !detailTeacherClose">
                    <img ng-hide="detailTeacherClose" zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success">
                    <img ng-show="detailTeacherClose" zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success">
                    More detail
                </a>
                <div ng-show="detailTeacherClose">
                    <p>{{ cx.content.MoreTeacherLessonPlan }}</p>
                </div>
            </div>

            <div ng-show="!cx.teacherView">
                <h3>{{ cx.content.Title }}</h3>
                <hr />
                <p>{{ cx.content.ShortDescription }}</p>

                <a ng-click="detailClose = !detailClose">
                    <img ng-hide="detailClose" zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success">
                    <img ng-show="detailClose" zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success">
                     More detail
                </a>
                <div ng-show="detailClose">
                    <p>{{ cx.content.MoreDescription }}</p>
                    <a href="{{ item.PrimaryContentURL }}">
                        <div class="grid-block">
                            <div class="grid-content shrink large-2">
                                <img src="{{ cx.primaryContentIconUrl }}">
                            </div>
                            <div class="grid-content large-10">
                                <p>
                                    {{ cx.content.PrimaryContentDescription }}
                                </p>
                            </div>
                        </div>
                    </a>
                    <br />
                    <div ng-repeat="item in cx.content.ExtraContents">
                        <a href="{{ item.ContentURL }}">
                            <div class="grid-block">
                                <div class="grid-content text-center shrink large-2">
                                    <img src="{{ item.IconURL }}">
                                </div>
                                <div class="grid-content large-10">
                                    <p>
                                        {{ item.Description }}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="success label menu-bar"></div>
    </div>

    <div>
        <p>
            <span ng-hide="cx.likes.IsLikedLesson"><a ng-click="cx.LikeLesson()"><img src="../assets/img/icon/like_inactive.png" width="30"/></a> {{ cx.content.TotalLikes }} people like this</span>
            <span ng-show="cx.likes.IsLikedLesson"><a ng-click="cx.DisLikeLesson()"><img src="../assets/img/icon/like_active.png" width="30"/></a> {{ cx.content.TotalLikes }} people like this</span>
        </p>
    </div>

    <div class="clearfix">
        <div class="grid-block">
            <div class="grid-content shrink large-2"><img src="{{ cx.userprofileSvc.ClientUserProfile.ImageUrl }}"></div>
            <div class="grid-content large-10">
                <h4>{{ cx.userprofileSvc.ClientUserProfile.FullName }}</h4>
                <textarea ng-model="message" rows="3"></textarea>
            </div>
        </div>
        <div class="float-right">
            <button ng-click="message = cx.CreateNewComment(message)" class="button">Post</button>
        </div>
    </div>

    <div class="comment">
        <div ng-repeat="item in cx.comment.Comments | orderBy: 'Order'">
            <div class="grid-block">
                <div class="grid-content shrink large-2"><img src="{{ item.CreatorImageUrl }}"></div>
                <div class="grid-content large-10">
                    <h4><a href="#" ui-sref="app.course.journal({ classRoomId: cx.userprofileSvc.ClientUserProfile.CurrentClassRoomId, targetUserId: item.CreatedByUserProfileId })">{{ item.CreatorDisplayName }}<span class="comment-time"></span></a></h4>

                    <p ng-show="!cx.IsEdit(item.id)">
                        {{ item.Description }}
                        <span ng-show="cx.userprofileSvc.ClientUserProfile.UserProfileId == item.CreatedByUserProfileId" ng-click="cx.EditOpen(item)"><a> Edit</a></span>
                        <span ng-show="cx.likes.LikeCommentIds.indexOf(item.id) == -1" ng-click="cx.LikeComment(item.id, cx.likes.LikeCommentIds.indexOf(item.id))"><a><img src="../assets/img/icon/like_inactive.png" width="30"/></a> {{ item.TotalLikes }} people like this</span>
                        <span ng-hide="cx.likes.LikeCommentIds.indexOf(item.id) == -1" ng-click="cx.LikeComment(item.id, cx.likes.LikeCommentIds.indexOf(item.id))"><a><img src="../assets/img/icon/like_active.png" width="30"/></a> {{ item.TotalLikes }} people like this</span>
                        <span zf-open="ConfirmModel" ng-click="cx.deleteComfirm(item)" ng-show="cx.userprofileSvc.ClientUserProfile.UserProfileId == item.CreatedByUserProfileId || cx.userprofileSvc.ClientUserProfile.IsTeacher"><a><img src="../assets/img/icon/trash.png" width="30"/></a></span>
                    </p>
                    <div ng-show="cx.IsEdit(item.id)">
                        <textarea ng-model="cx.message"></textarea>
                        <button ng-click="cx.SaveEdit(item.id)" class="button">Save</button>
                        <button ng-click="cx.CancelEdit()" class="button">Cancel</button>
                    </div>
                    <a ng-click="discusClose = cx.showDiscussion(item, discusClose)">
                        <p ng-hide="discusClose">show discussion ({{ item.TotalDiscussions }})</p>
                        <p ng-show="discusClose">hide discussion ({{ item.TotalDiscussions }})</p>
                    </a>
                    <div ng-show="discusClose">

                        <div class="clearfix">
                            <div class="grid-block">
                                <div class="grid-content shrink large-2"><img src="{{ cx.userprofileSvc.ClientUserProfile.ImageUrl }}"></div>
                                <div class="grid-content large-10">
                                    <h4>{{ cx.userprofileSvc.ClientUserProfile.FullName }}</h4>
                                    <textarea ng-model="discussionMsg" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="grid-block float-right">
                                <button ng-click="discussionMsg = cx.CreateNewDiscussion(item.id, discussionMsg)" class="button">Post</button>
                            </div>
                        </div>

                        <div ng-repeat="discussion in cx.discussions | orderBy: 'Order' | filter: { CommentId: item.id }">
                            <div class="discussion">
                                <div class="grid-block">
                                    <div class="grid-content shrink large-2"><img src="{{ discussion.CreatorImageUrl }}"></div>
                                    <div class="grid-content large-10">
                                        <a href="#" ng-hide="acx.CanAccessToUserJournal(discussion.CreatedByUserProfileId)" zf-open="Modal"
                                           ng-click="acx.targetData(discussion.CreatedByUserProfileId)"><h4>{{ discussion.CreatorDisplayName }}</h4></a>
                                        <a href="#" ng-show="acx.CanAccessToUserJournal(discussion.CreatedByUserProfileId)" ui-sref="app.course.journal({ classRoomId: cx.userprofileSvc.ClientUserProfile.CurrentClassRoomId, targetUserId: discussion.CreatedByUserProfileId })"><h4>{{ discussion.CreatorDisplayName }}</h4></a>
                                        <p ng-show="!cx.IsEdit(discussion.id)">
                                            {{ discussion.Description }}
                                            <span ng-show="cx.userprofileSvc.ClientUserProfile.UserProfileId == discussion.CreatedByUserProfileId" ng-click="cx.EditOpen(discussion)"><a> Edit</a></span>
                                            <span ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) == -1" ng-click="cx.LikeDiscussion(item.id, discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><img src="../assets/img/icon/like_inactive.png" width="30"/></a> {{ discussion.TotalLikes }} people like this</span>
                                            <span ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) != -1" ng-click="cx.LikeDiscussion(item.id, discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><img src="../assets/img/icon/like_active.png" width="30"/></a> {{ discussion.TotalLikes }} people like this</span>
                                            <span ng-show="cx.userprofileSvc.ClientUserProfile.UserProfileId == item.CreatedByUserProfileId || cx.userprofileSvc.ClientUserProfile.UserProfileId == discussion.CreatedByUserProfileId || cx.userprofileSvc.ClientUserProfile.IsTeacher"
                                                  zf-open="ConfirmModel" ng-click="cx.deleteDisComfirm(item, discussion)"><a><img src="../assets/img/icon/trash.png" width="30"/></a></span>
                                        </p>
                                        <div ng-show="cx.IsEdit(discussion.id)">
                                            <textarea ng-model="cx.message"></textarea>
                                            <button ng-click="cx.SaveEditDiscus(item.id, discussion.id)" class="button">Save</button>
                                            <button ng-click="cx.CancelEdit()" class="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div zf-modal="" id="ConfirmModel" class="tiny dialog">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">Confirm to delete</h4>
    <div>
        <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
            <div class="text-center">
                <div>
                    <button class="button alert" ng-show="cx.deleteComment" ng-click="cx.DeleteComment()" zf-close="">Confirm</button>
                    <button class="button alert" ng-show="!cx.deleteComment" ng-click="cx.DeleteDiscussion()" zf-close="">Confirm</button>
                    <button class="button" zf-close="">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>