---
name: app.lessonpreview
url: /lessonpreview/:lessonId
controller: 'app.lessonpreviews.LessonPreviewController as cx'
---
<!-- Preview mode -->
<div style="margin-top: 1rem;">
    <div class="vertical medium-horizontal grid-block">
        <!-- Side menu -->
        <div class="medium-4 small-12 align-center grid-block menu-rundown">
            <div class="grid-content medium-9 small-12 hidden-x-scroll">
                <div class="v-align title-bar">
                    <a><img zf-iconic="" icon="notification" size="medium" class="iconic-color-primary"><span class="badge">5</span></a>
                    <a class="right"><img zf-iconic="" icon="Person" size="medium" class="iconic-color-dark"></a>
                    <hr />
                </div>
                <h1 class="lesson-header">
                    {{ cx.content.Title }}
                    <hr />
                </h1>
                <div class="y-scroll">
                    <ul class="vertical icon-left menu-bar">
                        <li ui-sref-active="is-active" ng-repeat="item in cx.content.PreAssessments" ng-class="{'is-active': cx.ItemSelect.id == item.id && cx.QuestionSelect != null}">
                            <a ng-click="cx.SelectItem(item); cx.SelectQuestion(item)"><img height="16px" width="16px" ng-src="{{ item.IconURL }}"> {{ item.Name }}</a>
                        </li>
                        <li ui-sref-active="is-active" ng-repeat="item in cx.content.TeacherItems" ng-class="{'is-active': cx.ItemSelect.id == item.id && cx.QuestionSelect == null}">
                            <a ng-click="cx.SelectItem(item); cx.SelectQuestion(null)"><img height="16px" width="16px" ng-src="{{ item.IconURL }}"> {{ item.Name }}</a>
                        </li>
                        <li ui-sref-active="is-active" ng-repeat="item in cx.content.StudentItems" ng-class="{'is-active': cx.ItemSelect.id == item.id && cx.QuestionSelect == null}">
                            <a ng-click="cx.SelectItem(item); cx.SelectQuestion(null)"><img height="16px" width="16px" ng-src="{{ item.IconURL }}"> {{ item.Name }}</a>
                        </li>
                        <li ui-sref-active="is-active" ng-repeat="item in cx.content.PostAssessments" ng-class="{'is-active': cx.ItemSelect.id == item.id && cx.QuestionSelect != null}">
                            <a ng-click="cx.SelectItem(item); cx.SelectQuestion(item)"><img height="16px" width="16px" ng-src="{{ item.IconURL }}"> {{ item.Name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Lesson contents -->
        <div class="medium-8 medium-offset-4 small-12 vertical grid-block grid-content card-section" ng-hide="cx.content == null">
            <div class="lesson-contents">
                <!-- Item -->
                <div class="grid-block" ng-show="cx.ItemSelect.ContentURL != null">
                    <iframe height="540" class="small-12" ng-src="{{ cx.$sce.trustAsResourceUrl(cx.ItemSelect.ContentURL) }}" frameborder="0" allowfullscreen></iframe>
                    <hr>
                </div>
                <div class="card-section" ng-show="cx.ItemSelect.ContentType == 'None' || cx.ItemSelect.ContentType == 'Video' || cx.ItemSelect.ContentType == 'Audio' || cx.ItemSelect.ContentType == 'File' || cx.ItemSelect.ContentType == 'Game'">
                    <p ng-bind-html="cx.$sce.trustAsHtml(cx.ItemSelect.Description)"></p>
                </div>

                <!-- Question -->
                <div class="small-12" ng-show="cx.ItemSelect.ContentType != 'None' && cx.ItemSelect.ContentType != 'Video' && cx.ItemSelect.ContentType != 'Audio' && cx.ItemSelect.ContentType != 'File' && cx.ItemSelect.ContentType != 'Game'">
                    <h2 class="text-center">
                        Quiz: {{ cx.ItemSelect.Name }}
                    </h2>
                    <hr>
                </div>

                <!-- Question text box -->
                <div class="grid-content medium-10 medium-offset-1 small-12" ng-show="cx.QuestionSelect.ContentType == 'FResponse'">
                    <p>Give the correct answer to text box</p>

                    <p>Qusetion : <span ng-bind-html="cx.$sce.trustAsHtml(cx.HtmlReplace(cx.QuestionSelect.Question))"></span></p>


                    <textarea ng-model="cx.Answer" rows="3"></textarea>
                </div>

                <!-- Question choices -->
                <div class="grid-content medium-10 medium-offset-1 small-12" ng-show="cx.QuestionSelect.ContentType == 'QA'">
                    <p>Select the correct answer from choices</p>

                    <p>Qusetion : <span ng-bind-html="cx.$sce.trustAsHtml(cx.HtmlReplace(cx.QuestionSelect.Question))"></span></p>

                    <p ng-repeat="Choice in cx.QuestionSelect.Choices" ng-hide="cx.HideChoice(Choice.Name)"><label><input type="radio" name="Answer" ng-model="cx.Answer" value="{{ Choice.id }}" id="{{ Choice.id }}"><span ng-bind-html="cx.$sce.trustAsHtml(cx.HtmlReplace(Choice.Name))"></span></label></p>
                </div>

                <!-- Question drop down -->
                <div class="grid-content medium-10 medium-offset-1 small-12" ng-show="cx.QuestionSelect.ContentType == 'PQA'">
                    <p>Select the correct answer from the drop down menu below</p>

                    <p>
                        Qusetion :
                        <span ng-bind-html="cx.$sce.trustAsHtml(cx.HtmlReplace(cx.QuestionSelect.StatementBefore))"></span>
                        <select ng-model="cx.Answer" style="display: inline; width: inherit;">
                            <option value="{{ Choice.id }}" ng-repeat="Choice in cx.QuestionSelect.Choices" ng-hide="cx.HideChoice(Choice.Name)" ng-bind-html="cx.$sce.trustAsHtml(Choice.Name)"></option>
                        </select>
                        <span ng-bind-html="cx.$sce.trustAsHtml(cx.HtmlReplace(cx.QuestionSelect.StatementAfter))"></span>
                    </p>
                </div>
            </div>

            <div class="medium-10 medium-offset-1 small-12 clearfix" ng-show="cx.ItemSelect.ContentType != 'None' && cx.ItemSelect.ContentType != 'Video' && cx.ItemSelect.ContentType != 'Audio' && cx.ItemSelect.ContentType != 'File' && cx.ItemSelect.ContentType != 'Game'">
                <a class="button float-right " ng-class="{'secondary disabled': !cx.Answer, 'success': cx.Answer }" zf-open="PreAnswerModel" ng-hide="cx.AnswerSend">OK</a>
                <a class="button float-right " ng-class="{'secondary disabled': !cx.Answer, 'success': cx.Answer }" ng-click="cx.NextQuestion()" ng-show="cx.ChangeQuestionButton()">Next Question</a>
                <a class="button float-right " ng-class="{'secondary disabled': !cx.Answer, 'success': cx.Answer }" ng-click="cx.NextPage()" ng-show="cx.FinishButton()">Finish</a>
            </div>
            <div class="small-12 clearfix" ng-show="cx.ItemSelect.ContentType != 'None' && cx.ItemSelect.ContentType != 'Video' && cx.ItemSelect.ContentType != 'Audio' && cx.ItemSelect.ContentType != 'File' && cx.ItemSelect.ContentType != 'Game'">
                <div class="float-left">
                    <a class="quest hollow button not-active" ng-class="{'success': cx.IsAnswerCorrect(item) == true && cx.HaveAnswer(item) ,'alert': cx.IsAnswerCorrect(item) == false && cx.HaveAnswer(item), 'dark': cx.QuestionSelect.id != item.id && !cx.HaveAnswer(item)}" ng-repeat="item in cx.ItemSelect.Assessments">
                        <img zf-iconic="" icon="Circle-check" size="small" class="iconic-color-dark" ng-show="cx.IsAnswerCorrect(item) == true && cx.HaveAnswer(item)">
                        <img zf-iconic="" icon="Circle-x" size="small" class="iconic-color-dark" ng-show="cx.IsAnswerCorrect(item) == false && cx.HaveAnswer(item)">
                        <img height="16px" width="16px" zf-iconic="" icon="" size="small" class="iconic-color-dark" ng-show="!cx.HaveAnswer(item)">
                    </a>
                </div>
            </div>
            <!-- End item -->
            <div class="small-12">
                <hr>
                <p>
                    <a><span><img zf-iconic="" icon="like_inactive" size="medium" class="iconic-color-dark"></span></a><a></a> 0 people like this
                </p>
            </div>
        </div>
    </div>

    <!-- command section -->
    <div class="vertical medium-horizontal grid-block">
        <div class="medium-8 medium-offset-4 small-12 vertical grid-block grid-content card-section">
            <div class="small-12 grid-block">
                <!-- post section -->
                <div class="small-4 medium-2 medium-offset-2"><img src="http://placehold.it/100x100"></div>
                <div class="small-8 medium-8">
                    <h4>Preview</h4>
                    <textarea ng-model="message" rows="3"></textarea>
                    <ul class="button-group float-right">
                        <li><a>Post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="owl-carousel owl-theme">
</div>

<div zf-modal="" id="PreAnswerModel">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">Are you sure?</h4>
    <div>
        <div class="text-center grid-container">
            <div class="text-center">
                <div>
                    <button class="button success" zf-close="" ng-click="cx.SendAnswer()">Yes</button>
                    <button class="button success" zf-close="">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End preview page -->
