---
name: app.main.lesson
url: /lesson/:lessonId/:classRoomId
controller: 'app.lessons.LessonController as cx'
---

<div class="large-8 push-4 large-offset-1 columns" ng-init="mcx.ChangeVideo(cx.content.PrimaryContentURL)">

    <div class="grid-block clearfix">
        <div class="grid-content float-left">
            <h1>SEMESTER {{ cx.content.SemesterName }}</h1>
        </div>
        <div ng-show="cx.content.IsTeacher" class="grid-content float-right">
            <a ng-class="{ 'active': cx.teacherView }" ng-click="cx.selectTeacherView()">TEACHER VIEW</a>
            <span>|</span>
            <a ng-class="{ 'active': !cx.teacherView }" ng-click="cx.selectStdView()">STUDENT VIEW</a>
        </div>
    </div>

    <div class="card alert" ng-show="{{ cx.content.CourseMessage!=null }}">
        <div class="card-section clearfix">
            <a ng-click="cx.ReadNote()" class="close-button">x</a>
            <div class="grid-content float-left">
                <i class="fi-alert size-36"></i>
            </div>
            <div class="grid-content float-right">
                <p>{{ cx.content.CourseMessage }}</p>
            </div>
        </div>
    </div>


    <div>
        <h2>Week {{ cx.content.Order }}</h2>

        <div ng-show="cx.teacherView">
            <h3>{{ cx.content.Title }}</h3>
            <p>{{ cx.content.ShortTeacherLessonPlan }}</p>
            <a ng-click="openTeacherDestail = !openTeacherDestail">
                <p ng-hide="openTeacherDestail"> <img zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success"> More Details</p>
                <p ng-show="openTeacherDestail"> <img zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success"> Hide Details</p>
            </a>
            <div ng-show="openTeacherDestail">
                <p>{{ cx.content.FullTeacherLessonPlan }}</p>
            </div>
        </div>

        <div ng-show="!cx.teacherView">
            <h3>{{ cx.content.Title }}</h3>
            <p>{{ cx.content.ShortDescription }}</p>
            <a ng-click="openStudentDestail = !openStudentDestail">
                <p ng-hide="openTeacherDestail"> <img zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success"> More Details</p>
                <p ng-show="openTeacherDestail"> <img zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success"> Hide Details</p>
            </a>
            <div ng-show="openStudentDestail">
                <p>{{ cx.content.FullDescription }}</p>
                <h4 class="extra-header">Extra learning</h4>
                <ul>
                    <li>
                        <p>Primary</p>
                        <div><a ng-click="mcx.ChangeVideo(cx.content.PrimaryContentURL)">{{ cx.content.PrimaryContentURL }}</a></div>
                    </li>
                </ul>
                <ul ng-repeat="item in cx.content.ExtraContentUrls">
                    <li class="extra">
                        <p>Extra {{ $index + 1 }}</p>
                        <div><a ng-click="mcx.ChangeVideo(item)">{{ item }}</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <p>
            <span class="comment-button" ng-show="!cx.likes.IsLikedLesson"><a><i class="fi-heart size-36" ng-click="cx.LikeLesson()"></i></a>{{ cx.content.TotalLikes }} people like this</span>
            <span class="comment-button like" ng-show="cx.likes.IsLikedLesson"><a><i class="fi-heart size-36" ng-click="cx.DisLikeLesson()"></i></a>{{ cx.content.TotalLikes }} people like this</span>
        </p>
    </div>

    <div class="clearfix">
        <div class="grid-block">
            <div class="grid-content shrink large-2"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ cx.currentUser.ImageUrl }}"></div>
            <div class="grid-content large-10">
                <h4>{{ cx.currentUser.FullName }}</h4>
                <textarea ng-model="message" rows="3"></textarea>
            </div>
        </div>
        <div class="float-right">
            <button ng-click="message = cx.CreateNewComment(message)" class="button">Post</button>
        </div>
    </div>

    <div class="comment">
        <div ng-repeat="item in cx.comment.Comments | orderBy: 'Order'">
            <div class="grid-block">
                <div class="grid-content shrink large-2"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ item.CreatorImageUrl }}"></div>
                <div class="grid-content large-10">
                    <h4><a href="#" ui-sref="app.course.journal({ classRoomId: cx.currentUser.CurrentClassRoomId, targetUserId: item.CreatedByUserProfileId })">{{ item.CreatorDisplayName }}<span class="comment-time"></span></a></h4>

                    <p ng-show="!cx.IsEdit(item.id)">
                        {{ item.Description }}
                        <span class="comment-button" ng-show="cx.currentUser.UserProfileId == item.CreatedByUserProfileId" ng-click="cx.EditOpen(item)"><a> Edit</a></span>
                        <span class="comment-button" ng-show="cx.likes.LikeCommentIds.indexOf(item.id) == -1" ng-click="cx.LikeComment(item.id, cx.likes.LikeCommentIds.indexOf(item.id))"><a><i class="fi-heart size-24"></i></a> {{ item.TotalLikes }} people like this</span>
                        <span class="comment-button like" ng-show="cx.likes.LikeCommentIds.indexOf(item.id) != -1" ng-click="cx.LikeComment(item.id, cx.likes.LikeCommentIds.indexOf(item.id))"><a><i class="fi-heart size-24"></i></a> {{ item.TotalLikes }} people like this</span>
                        <span class="comment-button" zf-open="ConfirmModel" ng-click="cx.deleteComfirm(item)" ng-show="cx.currentUser.UserProfileId == item.CreatedByUserProfileId || cx.currentUser.IsTeacher"><a><i class="fi-trash size-24"></i></a></span>
                    </p>
                    <div ng-show="cx.IsEdit(item.id)">
                        <textarea ng-model="cx.message"></textarea>
                        <button ng-click="cx.SaveEdit(item.id)" class="button">Save</button>
                        <button ng-click="cx.CancelEdit()" class="button">Cancel</button>
                    </div>
                    <a ng-click="discusClose = cx.showDiscussion(item, discusClose)">
                        <p ng-hide="discusClose">show discussion ({{ item.TotalDiscussions }})</p>
                        <p ng-show="discusClose">hide discussion ({{ item.TotalDiscussions }})</p>
                    </a>
                    <div ng-show="discusClose">

                        <div class="clearfix">
                            <div class="grid-block">
                                <div class="grid-content shrink large-2"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ cx.currentUser.ImageUrl }}"></div>
                                <div class="grid-content large-10">
                                    <h4>{{ cx.currentUser.FullName }}</h4>
                                    <textarea ng-model="discussionMsg" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="grid-block float-right">
                                <button ng-click="discussionMsg = cx.CreateNewDiscussion(item.id, discussionMsg)" class="button">Post</button>
                            </div>
                        </div>

                        <div ng-repeat="discussion in cx.discussions | orderBy: 'Order' | filter: { CommentId: item.id }">
                            <div class="discussion">
                                <div class="grid-block">
                                    <div class="grid-content shrink large-2"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ discussion.CreatorImageUrl }}"></div>
                                    <div class="grid-content large-10">
                                        <a href="#" ng-show="acx.FriendsStatus(discussion.CreatedByUserProfileId) != 2 && !cx.currentUser.IsTeacher" zf-open="Modal"
                                        ng-click="acx.targetData(discussion.CreatedByUserProfileId)"><h4>{{ discussion.CreatorDisplayName }}</h4><span class="comment-time"></span></a>
                                        <a href="#" ng-show="acx.FriendsStatus(discussion.CreatedByUserProfileId) == 2 || cx.currentUser.IsTeacher" ui-sref="app.course.journal({ classRoomId: cx.currentUser.CurrentClassRoomId, targetUserId: discussion.CreatedByUserProfileId })"><h4>{{ discussion.CreatorDisplayName }}</h4><span class="comment-time"></span></a>
                                        <p ng-show="!cx.IsEdit(discussion.id)">
                                            {{ discussion.Description }}
                                            <span class="comment-button" ng-show="cx.currentUser.UserProfileId == discussion.CreatedByUserProfileId" ng-click="cx.EditOpen(discussion)"><a> Edit</a></span>
                                            <span class="comment-button" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) == -1" ng-click="cx.LikeDiscussion(item.id, discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                            <span class="comment-button like" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) != -1" ng-click="cx.LikeDiscussion(item.id, discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                            <span class="comment-button" ng-show="cx.currentUser.UserProfileId == item.CreatedByUserProfileId || cx.currentUser.UserProfileId == discussion.CreatedByUserProfileId || cx.currentUser.IsTeacher"
                                            zf-open="ConfirmModel" ng-click="cx.deleteDisComfirm(item, discussion)"><a><i class="fi-trash size-24"></i></a></span>
                                        </p>
                                        <div ng-show="cx.IsEdit(discussion.id)">
                                            <textarea ng-model="cx.message"></textarea>
                                            <button ng-click="cx.SaveEditDiscus(item.id, discussion.id)" class="button">Save</button>
                                            <button ng-click="cx.CancelEdit()" class="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div zf-modal="" id="ConfirmModel" class="tiny dialog">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">Confirm to delete</h4>
    <div>
        <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
            <div class="text-center">
                <div>
                    <button class="button alert" ng-show="cx.deleteComment" ng-click="cx.DeleteComment()" zf-close="">Confirm</button>
                    <button class="button alert" ng-show="!cx.deleteComment" ng-click="cx.DeleteDiscussion()" zf-close="">Confirm</button>
                    <button class="button" zf-close="">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>