---
name: app.course.config
url: /setting
controller: 'app.settings.SettingController as cx'
---
<div class="large-8 push-4 large-offset-1 columns setting">
    <div class="row">
        <h1>SETTING</h1>
    </div>

    <div class="settting-edit">
        <div class="clearfix grid-block">
            <div class="grid-content shrink">
                <p>User Info</p>
            </div>
            <a class="grid-content shrink inactive" ng-show="!explan" ng-click="explan = !explan">Edit</a>
            <a class="grid-content shrink inactive" ng-show="explan" ng-click="cx.UpdateProfile() ; explan = !explan">Save</a>
        </div>
        <div ng-show="explan">
            <div class="grid-block">
                <div class="grid-content">
                    <label>
                        Name
                        <input ng-model="cx.clientProfileSvc.ClientUserProfile.FullName" type="text">
                    </label>
                    <p>Email : {{ cx.clientProfileSvc.ClientUserProfile.UserProfileId }}</p>
                </div>

                <div class="align-center grid-block">
                    <div class="text-center">
                        <div><img class="small-2" src="{{ cx.clientProfileSvc.ClientUserProfile.ImageUrl }}"></div>
                        <div class="align-center grid-block"><a href="../Manage/ChangeProfileImage/{{ cx.clientProfileSvc.ClientUserProfile.CurrentClassRoomId }}">Edit</a></div>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <label>
                    School
                    <input ng-model="cx.clientProfileSvc.ClientUserProfile.SchoolName" type="text">
                </label>
            </div>
            <div class="grid-content">
                <label>
                    <input ng-model="cx.clientProfileSvc.ClientUserProfile.IsPrivateAccout" type="checkbox">
                    Private account
                </label>
            </div>
            <div class="grid-block">
                <div class="grid-content">
                    Reminder
                </div>
                <div class="grid-content">
                    <label>
                        <input ng-model="cx.clientProfileSvc.ClientUserProfile.IsReminderOnceTime" type="radio" ng-value=true>
                        ReminderOnceTime
                    </label>
                </div>
                <div class="grid-content">
                    <label>
                        <input ng-model="cx.clientProfileSvc.ClientUserProfile.IsReminderOnceTime" type="radio" ng-value=false>
                        ReminderTwiceTime
                    </label>
                </div>
            </div>
            <div class="grid-content shrink">
                <a class="button" ng-show="cx.clientProfileSvc.ClientUserProfile.HasPassword" href="../Manage/ChangePassword/{{ cx.clientProfileSvc.ClientUserProfile.CurrentClassRoomId }}">Change Password</a>
            </div>
            <div class="grid-content shrink">
                <a class="button" ng-hide="cx.clientProfileSvc.ClientUserProfile.HasPassword" href="../Manage/SetPassword/{{ cx.clientProfileSvc.ClientUserProfile.CurrentClassRoomId }}">Set Password</a>
            </div>
        </div>
    </div>

    <div class="settting-edit" ng-show="cx.clientProfileSvc.ClientUserProfile.IsTeacher">
        <div class="clearfix grid-block">
            <div class="grid-content shrink">
                <p>Class Info</p>
            </div>
            <a class="grid-content shrink inactive" ng-show="!bottomexplan" ng-click="bottomexplan = !bottomexplan">Edit</a>
            <a class="grid-content shrink inactive" ng-show="bottomexplan" ng-click="cx.UpdateCoursee() ; bottomexplan = !bottomexplan">Save</a>
            <div class="grid-content shrink">
                <a class="viewlist" ui-sref="app.course.teacherlist({ classRoomId: cx.clientProfileSvc.ClientUserProfile.CurrentClassRoomId })">View Student List</a>
            </div>
        </div>
        <div ng-show="bottomexplan">
            <div class="grid-block">
                <div class="grid-content">
                    <label>
                        Class Name
                        <input ng-model="cx.clientProfileSvc.ClientUserProfile.ClassName" type="text">
                    </label>
                </div>

                <div class="grid-content">
                    <label class="have-help-text">
                        Class Code
                        <input ng-model="cx.clientProfileSvc.ClientUserProfile.CurrentStudentCode" type="text">
                        <a class="help-text">What is this?</a>
                    </label>
                </div>
            </div>
            <div class="grid-content">
                <p>
                    Number of Students {{ cx.clientProfileSvc.ClientUserProfile.NumberOfStudents }}
                </p>
            </div>
            <div class="grid-block">
                <div class="grid-content shrink">
                    <p>
                        Start Date <img zf-iconic="" icon="calendar" size="medium" class="iconic-color-dark">
                    </p>
                </div>
                <div class="grid-content shrink">
                    <p>
                        {{ cx.clientProfileSvc.ClientUserProfile.StartDate | date:'MM/dd/yyyy'}}
                    </p>
                </div>
            </div>
            <div class="grid-content shrink">
                <p>
                    Set Off Days and Vacations <a ui-sref="app.course.calendar({ classRoomId: cx.clientProfileSvc.ClientUserProfile.CurrentClassRoomId })"><span><img zf-iconic="" icon="calendar" size="medium" class="iconic-color-dark"></span></a>
                </p>
            </div>
            <div>
                <div class="grid-content shrink">
                    <button class="button" zf-open="ConfirmModel">Delete Course</button>
                </div>
            </div>
        </div>
    </div>
    <div class="align-center grid-block clearfix" ng-show="cx.clientProfileSvc.ClientUserProfile.IsTeacher">
        <p>Student Message</p>
        <textarea rows="3" ng-model="studentMessage"></textarea><button class="button primary float-right" ng-click="studentMessage = cx.StudenMessageEdit(studentMessage)">SEND</button>
    </div>
</div>

<div zf-modal="" id="ConfirmModel">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">Confirm</h4>
    <div>
        <div class="medium-10 large-10 text-center grid-container">
            <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
                <div class="text-center">
                    <div data-equalizer-watch>
                        <h6>Are you sure you want to delete this course permanently?</h6>
                        <button class="button alert" ng-click="cx.DeleteCourse()" zf-close="">Confirm</button>
                        <button class="button" zf-close="">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>