<div class="grid-content medium-6 block-list ng-scope noscroll" ng-controller="app.sidemenus.SideMenuController as cx">
    <h1 class="lesson-header">
        {{ cx.userSvc.ClientUserProfile.FullName }}
    </h1>
    <a ui-sref="app.course.notification({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId })"><img zf-iconic="" icon="notification" size="medium" class="iconic-color-primary"><span ng-show="cx.notification > 0" class="badge">{{ cx.notification }}</span></a>
    <a class="float-right" zf-open="classModal" ng-show="cx.userSvc.AllAvailableCourses.length > 1" ><i class="fi-list size-36"></i></a>
    <ul class="vertical icon-left menu-bar" ng-click="cx.ToTop()">
        <li ui-sref-active="is-active">
            <a ui-sref="app.main({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId, lessonId: cx.userSvc.ClientUserProfile.CurrentLessonId })"><img zf-iconic="" icon="home" size="medium" class="iconic-color-dark"> HOME</a>
        </li>
        <li ui-sref-active="is-active">
            <a ui-sref="app.course.journal({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId, targetUserId: cx.currentUserId })"><img zf-iconic="" icon="journal" size="medium" class="iconic-color-dark"> JOURNAL</a>
        </li>
        <li ui-sref-active="is-active">
            <a ui-sref="app.course.coursemap({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId })"><img zf-iconic="" icon="course_map" size="medium" class="iconic-color-dark"> COURSE MAP</a>
        </li>
        <li ng-show="!cx.userSvc.ClientUserProfile.IsTeacher" ui-sref-active="is-active">
            <a ui-sref="app.course.studentlist({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId })"><img zf-iconic="" icon="class" size="medium" class="iconic-color-dark"> CLASS</a>
        </li>
        <li ng-show="cx.userSvc.ClientUserProfile.IsTeacher" ui-sref-active="is-active">
            <a ui-sref="app.course.teacherlist({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId })"><img zf-iconic="" icon="class" size="medium" class="iconic-color-dark"> CLASS</a>
        </li>
        <li ui-sref-active="is-active">
            <a ui-sref="app.course.config({ classRoomId: cx.userSvc.ClientUserProfile.CurrentClassRoomId })"><img zf-iconic="" icon="setting" size="medium" class="iconic-color-dark"> SETTING</a>
        </li>
    </ul>

    <div zf-modal="" id="classModal">
        <a zf-close="" class="close-button">x</a>
        <h4 class="text-center">CLASS LIST</h4>
        <div>
            <div class="medium-10 large-10 text-center grid-container">
                <a href="#" zf-close=""
                   ng-repeat="item in cx.userSvc.AllAvailableCourses"
                   ng-class="{'large expanded button': item.ClassRoomId == cx.userSvc.ClientUserProfile.CurrentClassRoomId,
                   'large hollow expanded button': item.ClassRoomId != cx.userSvc.ClientUserProfile.CurrentClassRoomId}"
                   ng-click="cx.ChangeCourse(item.ClassRoomId, item.LessonId, item.ClassCalendarId)">
                    {{ item.Name }}
                </a>
            </div>
        </div>
    </div>
</div>