---
name: app.course.studentlist
url: /studentlist
---
<div class="large-7 push-5 large-offset-1 columns list">
    <div class="row">
        <div class="large-6 columns">
            <h1 class="lesson-header">CLASS LIST</h1>
        </div>
    </div>
    <div class="row" ng-repeat="item in cx.userSvc.GetFriendLists()" ng-show="!item.IsTeacher" data-equalizer>
        <div class="small-6 column callout" data-equalizer-watch>
            <a ng-show="item.Status != 2" data-open="Modal" ng-click="acx.targetData(item.UserProfileId)">
                <img style="width: 50px; height: 50px;" src="{{ item.ImageUrl }}"> {{ item.Name }}
            </a>
            <a ng-show="item.Status == 2" ui-sref="app.course.journal({ 'classRoomId': '{{ cx.classRoomId }}', 'targetUserId': '{{ item.UserProfileId }}' })">
                <img style="width: 50px; height: 50px;" src="{{ item.ImageUrl }}"> {{ item.Name }}
            </a>
        </div>

        <div class="small-6 column middleblock" ng-show="item.Status == 0" data-equalizer-watch>
            <button class="button disabled secondary">Friend Request Sent</button>
        </div>

        <div class="small-6 column middleblock" ng-show="item.Status == 1" data-equalizer-watch>
            <button class="button" ng-click="acx.ConfirmFriendRequest(item)">Confirm</button>
            <button class="button secondary" ng-click="acx.targetData(item.UserProfileId)" data-open="DeleteFriendModel">Delete Request</button>
        </div>

        <div class="small-6 column middleblock" ng-show="item.Status == 2" data-equalizer-watch>
            <img style="width: 50px; height: 50px;" src="../assets/img/icon/friend.png" />
        </div>

        <div class="small-6 column middleblock" ng-show="item.Status == 3" data-equalizer-watch>
            <button class="button secondary" ng-click="acx.SendFriendRequest(item)">Friend Request</button>
        </div>
    </div>
</div>

<script>
    $(document).foundation();
</script>