---
name: app.course.studentlist
url: /studentlist
controller: 'app.studentlists.studentlistsController as cx'
---
<div class="large-7 push-5 large-offset-1 columns list">
    <div>
        <h1>CLASS LIST</h1>
    </div>

    <div class="inline-label" ng-show="cx.userSvc.ClientUserProfile.IsSelfPurchase">
        <span class="form-label"><img zf-iconic="" icon="Magnifying-glass" size="medium" class="iconic-color-dark"></span>
        <input type="text" placeholder="search" ng-model="cx.keyword">
        <a ng-click="cx.searchNewFriend()" class="button">Search</a>
        <a ng-click="cx.cancelSearch()" ng-show="cx.searching" class="button secondary">Cancel</a>
    </div>

    <div ng-hide="cx.searching">
        <div ng-show="cx.userSvc.UserInCourseList.length == 0"><p> Have no member </p></div>
        <section class="block-list">
            <ul>
                <li ng-repeat="item in cx.userSvc.UserInCourseList | orderBy: 'Status' | orderBy: 'Name'" ng-show="!item.IsTeacher && (item.Status == 2 || item.Status == 1)">
                    <span class="v-align">
                        <a ng-show="item.Status != 2 && !cx.userSvc.ClientUserProfile.IsTeacher" zf-open="Modal" ng-click="acx.targetData(item.UserProfileId)">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <a ng-show="item.Status == 2 || cx.userSvc.ClientUserProfile.IsTeacher" ui-sref="app.course.journal({ classRoomId: cx.classRoomId, targetUserId: item.UserProfileId })">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <div class="float-right align-center">
                            <div class="grid-content" ng-show="item.Status == 1" data-equalizer-watch>
                                <button class="button" ng-click="acx.ConfirmFriendRequest(item)">Confirm</button>
                                <button class="button secondary" ng-click="acx.targetData(item.UserProfileId)" zf-open="DeleteFriendModel">Delete Request</button>
                            </div>

                            <div class="grid-content" ng-show="item.Status == 2" data-equalizer-watch>
                                <img zf-iconic="" icon="friend" size="medium" class="iconic-color-warning">
                            </div>
                        </div>
                    </span>
                </li>

                <li ng-repeat="item in cx.userSvc.UserInCourseList | orderBy: 'Status' | orderBy: 'Name'" ng-show="!item.IsTeacher && !(item.Status == 2 || item.Status == 1)">
                    <span class="v-align">
                        <a ng-show="item.Status != 2 && !cx.userSvc.ClientUserProfile.IsTeacher" zf-open="Modal" ng-click="acx.targetData(item.UserProfileId)">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <a ng-show="item.Status == 2 || cx.userSvc.ClientUserProfile.IsTeacher" ui-sref="app.course.journal({ classRoomId: cx.classRoomId, targetUserId: item.UserProfileId })">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <div class="float-right align-center">
                            <div class="grid-content middleblock" ng-show="item.Status == 0" data-equalizer-watch>
                                <button class="button disabled secondary">Friend Request Sent</button>
                            </div>

                            <div class="grid-content" ng-show="item.Status == 3" data-equalizer-watch>
                                <button class="button secondary" ng-click="acx.SendFriendRequest(item)">Friend Request</button>
                            </div>
                        </div>
                    </span>
                </li>
            </ul>
        </section>
    </div>

    <div ng-show="cx.searching">
        <div ng-show="cx.searchList.length == 0"><p> no member have '{{cx.keyword}}' keyword</p></div>
        <section class="block-list">
            <ul>
                <li ng-repeat="item in cx.searchList | orderBy: 'Status' | orderBy: 'Name'" ng-show="!item.IsTeacher && (item.Status == 2 || item.Status == 1)">
                    <span class="v-align">
                        <a ng-show="item.Status != 2 && !cx.userSvc.ClientUserProfile.IsTeacher" zf-open="Modal" ng-click="acx.targetData(item.UserProfileId)">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <a ng-show="item.Status == 2 || cx.userSvc.ClientUserProfile.IsTeacher" ui-sref="app.course.journal({ classRoomId: cx.classRoomId, targetUserId: item.UserProfileId })">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <div class="float-right align-center">
                            <div class="grid-content" ng-show="item.Status == 1" data-equalizer-watch>
                                <button class="button" ng-click="acx.ConfirmFriendRequest(item); cx.cancelSearch()">Confirm</button>
                                <button class="button secondary" ng-click="acx.targetData(item.UserProfileId); cx.cancelSearch()" zf-open="DeleteFriendModel">Delete Request</button>
                            </div>

                            <div class="grid-content" ng-show="item.Status == 2" data-equalizer-watch>
                                <img style="width: 50px; height: 50px;" src="../assets/img/icon/friend.png" />
                            </div>
                        </div>
                    </span>
                </li>

                <li ng-repeat="item in cx.searchList | orderBy: 'Status' | orderBy: 'Name'" ng-show="!item.IsTeacher && !(item.Status == 2 || item.Status == 1)">
                    <span class="v-align">
                        <a ng-show="item.Status != 2 && !cx.userSvc.ClientUserProfile.IsTeacher" zf-open="Modal" ng-click="acx.targetData(item.UserProfileId)">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <a ng-show="item.Status == 2 || cx.userSvc.ClientUserProfile.IsTeacher" ui-sref="app.course.journal({ classRoomId: cx.classRoomId, targetUserId: item.UserProfileId })">
                            <img class="small-2" src="{{ item.ImageUrl }}"> {{ item.Name }}
                        </a>
                        <div class="float-right align-center">
                            <div class="grid-content middleblock" ng-show="item.Status == 0" data-equalizer-watch>
                                <button class="button disabled secondary">Friend Request Sent</button>
                            </div>

                            <div class="grid-content" ng-show="item.Status == 3" data-equalizer-watch>
                                <button class="button secondary" ng-click="acx.SendFriendRequest(item); cx.cancelSearch()">Friend Request</button>
                            </div>
                        </div>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>