---
name: app.course.teacherlist
url: /teacherlist
controller: 'app.teacherlists.teacherlistsController as cx'
---
<div class="large-7 push-5 large-offset-1 columns list">
    <div class="row">
        <h1>CLASS LIST</h1>
    </div>
    <div ng-show="cx.list.length == 0"><p> No Students </p></div>
    <section class="block-list">
        <ul>
            <li ng-repeat="item in cx.list">
                <span class="v-align">
                    <a ui-sref="app.course.journal({ classRoomId: cx.classRoomId, targetUserId: item.id })">
                        <img class="small-1" src="{{ item.ImageUrl }}"> {{ item.Name }}
                    </a>
                    <div class="float-right align-center">
                        <div zf-action-sheet="" id="{{ item.Name }}">
                            <div zf-as-button="" title="Score"></div>
                            <div zf-as-content="" position="top">
                                <span><img zf-iconic="" icon="flag" size="medium"> {{ item.CommentPercentage }}%</span>
                                <span><img src="../assets/img/icon/green.png" width="30" /> {{ item.OnlineExtrasPercentage }}%</span>
                                <span ng-hide="item.IsPrivateAccount"><img zf-iconic="" icon="socialParticipation" size="medium" class="iconic-color-primary"> {{ item.SocialParticipationPercentage }}%</span>
                                <span ng-show="item.IsPrivateAccount"><img zf-iconic="" icon="socialParticipation" size="medium" class="iconic-color-dark"></span>
                            </div>
                        </div>
                        <button class="button" ng-click="cx.targetStd(item)" zf-open="ConfirmModel">Remove student</button>
                    </div>
                </span>
                
            </li>
        </ul>
    </section>
</div>

<div zf-modal="" id="ConfirmModel">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">Are you sure you want to remove this student?</h4>
    <div>
        <div class="medium-10 large-10 text-center grid-container">
            <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
                <div class="text-center">
                    <div>
                        <button class="button alert" ng-click="cx.RemoveStd()" zf-close="">Confirm</button>
                        <button class="button" zf-close="">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
