@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form" data-abide novalidate>
            <h4>Forgot your password?</h4>
            <p>Enter your email address to reset your password.</p>
            <div asp-validation-summary="ValidationSummary.All" data-abide-error class="form-error"></div>
            <label asp-for="Email">
                Email address
                <input asp-for="Email" required pattern="email" />
                <span asp-validation-for="Email" class="form-error"></span>
            </label>
            <button type="submit" class="button large">Submit</button>
            @*<a asp-controller="Account" asp-action="ResetPassword" asp-route-code="AAA" class="button large">Submit Demo</a>*@
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
