@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="grid-block">
    <div class="medium-6 large-5 grid-container">
        <h4>@ViewData["Title"].</h4>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>