@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form" data-abide novalidate>
            <h4>Create a new account.</h4>
            <div asp-validation-summary="ValidationSummary.All" data-abide-error class="form-error"></div>
            <label asp-for="Email">
                Email
                <input asp-for="Email" required pattern="email" />
                <span asp-validation-for="Email" class="form-error"></span>
            </label>
            <label asp-for="Password">
                Password
                <input asp-for="Password" required pattern="password" />
                <span asp-validation-for="Password" class="form-error"></span>
            </label>
            <label asp-for="ConfirmPassword">
                Confirm Password
                <input asp-for="ConfirmPassword" required data-equalto="Password" />
                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
            </label>
                <button type="submit" class="button expanded">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
