@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="grid-block">
    <div class="medium-6 large-5 grid-container">
        <h4>@ViewData["Title"].</h4>
        <p>
            Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
        </p>
    </div>
</div>
