@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form" data-abide novalidate>
            <h4>Reset your password.</h4>
            <div asp-validation-summary="ValidationSummary.All" class="form-error"></div>
            <input asp-for="Code" type="hidden" />
            <label asp-for="Email">
                Email
                <input asp-for="Email" required pattern="email"/>
                <span asp-validation-for="Email" class="form-error"></span>
            </label>
            <label asp-for="Password">
                Password
                <input asp-for="Password" required pattern="password"/>
                <span asp-validation-for="Password" class="form-error"></span>
            </label>
            <label asp-for="ConfirmPassword">
                ConfirmPassword
                <input asp-for="ConfirmPassword"  required data-equalto="Password"/>
                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
            </label>
                    <button type="submit" class="button large">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
