<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MindSage</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/assets/css/app.css" />
            <link href="~/lib/owlcarousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
            <link href="~/lib/owlcarousel/owl-carousel/owl.theme.css" rel="stylesheet" />
            <link href="~/lib/foundation-datepicker/css/foundation-datepicker.css" rel="stylesheet" />
            <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
            <link href="~/css/foundation.calendar.css" rel="stylesheet" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body ng-app="app">

        <div class="dark title-bar">
            <div class="left"></div>
            <div class="center title">
                <a class="float-left" asp-action="index" asp-controller="home"><img src="http://www.mindsage.org/assets/img/logo.png" /></a>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                        <button type="submit" class="float-right secondary hollow button">LOG OUT</button>
                        <a href="/my/preparing" class="float-right secondary hollow button">My Course</a>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Register" class="float-right info hollow button">SIGNUP</a>
                    <a asp-controller="Account" asp-action="Login" class="float-right secondary hollow button">LOGIN</a>
                }
            </div>
            <div class="right"></div>
        </div>
        
        @RenderBody()

        <footer class="footer">
            <div class="grid-block align-center">
                <div class="grid-block large-9 align-justify">
                    <!-- col 1 -->
                    <div class="small-12 medium-6 large-3 grid-block vertical">
                        <div class="logo">
                            <a href="assets/img/logo.png">
                                <img width="160" src="http://www.mindsage.org/assets/img/logo.png">
                            </a>
                        </div>
                        <p class="footer-links">
                            <a href="#">Home</a>
                            <a href="#">Pricing</a>
                            <a href="#">About</a>
                            <a href="#">FAQ</a>
                        </p>
                        <p class="inline-list social">
                            <a href="#"><i class="fi-social-facebook"></i></a>
                            <a href="#"><i class="fi-social-twitter"></i></a>
                            <a href="#"><i class="fi-social-linkedin"></i></a>
                            <a href="#"><i class="fi-social-github"></i></a>
                        </p>
                        <p class="copywrite">Copywrite © 2016</p>
                    </div>
                    <!-- col 2 -->
                    <div class="small-12 medium-6 large-3 grid-block vertical">
                        <h3 class="about">About Mind Sage</h3>
                        <p class="about subheader">MindSage is a teacher-friendly soft skills training course that utilizes microlessons and a metacognitive approach.</p>
                        <p class="about subheader">It can be integrated into any existing curriculum.</p>
                    </div>
                    <!-- col 3 -->
                    <div class="small-12 medium-12 large-5 grid-block vertical">
                        <h3 class="contact">Let's talk</h3>
                        <form class="footer-form ng-pristine ng-valid">
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        <input type="email" id="email" placeholder="Email Address">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label>
                                        <textarea rows="5" id="message" placeholder="What's on your mind?"></textarea>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="medium-9 columns">
                                        <button class="submit" type="submit" value="Submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--
                    <ul class="contact-address">
                        <li><p><i class="fa fa-map"></i>1595 Spring Street New Britain, CT 06051</p></li>
                        <li><p><i class="fa fa-phone-square"></i>+1-656-453-9966</p></li>
                        <li><p><i class="fa fa-envelope-square"></i>contact@emperor.com</p></li>
                    </ul>
                    -->
                    </div>
                </div>
            </div>
        </footer>

        <environment names="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/assets/js/foundation.js"></script>
            <script src="~/assets/js/templates.js"></script>
            <script src="~/assets/js/routes.js"></script>
            <script src="~/assets/js/app.js"></script>
            <script src="~/lib/angular-resource/angular-resource.js"></script>
            <script src="~/lib/owlcarousel/owl-carousel/owl.carousel.js"></script>
            <script src="~/lib/foundation-datepicker/js/foundation-datepicker.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
