<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindSage</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/assets/css/app.css" />
        <link href="~/lib/owlcarousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
        <link href="~/lib/owlcarousel/owl-carousel/owl.theme.css" rel="stylesheet" />
        <link href="~/lib/foundation-datepicker/css/foundation-datepicker.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
        <link href="~/css/foundation.calendar.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/assets/css/app.css" />
        <link href="~/lib/owlcarousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
        <link href="~/lib/owlcarousel/owl-carousel/owl.theme.css" rel="stylesheet" />
        <link href="~/lib/foundation-datepicker/css/foundation-datepicker.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
        <link href="~/css/foundation.calendar.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </environment>
</head>
<body ng-app="app">
    <div class="dark title-bar" style="height: 140px;
    padding: 30px;
    background-color: rgba(73, 73, 73, 1);
    border-bottom: #494949 1px solid;">
        <div class="center" style="max-width: 1100px; margin: 0 auto;">
            <div class="left">
                <a class="float-left" asp-action="index" asp-controller="home">
                    <img src="http://mindkey.org/wordpress/wp-content/uploads/2016/04/logo_small.png" />
                </a>
            </div>
            <div class="right" style="margin-top: 12px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                        <button type="submit" class="float-right secondary hollow button">LOG OUT</button>
                        <a href="/my/preparing" class="float-right secondary hollow button">My Course</a>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Register" class="float-right info hollow button">SIGNUP</a>
                    <a asp-controller="Account" asp-action="Login" class="float-right secondary hollow button">LOGIN</a>
                }
            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="footer" style="position: inherit;">
        <div class="grid-block align-center">
            <div class="grid-block medium-up-3 large-8 align-justify">
                <div class="grid-block vertical">
                    <div id="text-2" class="grid-block">
                        <div class="textwidget">
                            <div>
                                <img class="logo" src="http://mindkey.org/wordpress/wp-content/uploads/2016/03/logo_small.png"
                                     alt="logo" width="246" height="79" />
                            </div>
                            <p><span style="color: #DDDDDD;">Mindsage is a teacher-friendly soft skills training program that spans 4th-12th grades.</span></p>
                            <p><span style="color: #DDDDDD;">Our course adapts cutting edge corporate level training concepts to grade appropriate lessons.</span></p>
                            <p><span style="color: #DDDDDD;">Mindsage uses a microlearning and metacognitive approach for a maximum transformative learning.</span></p>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    
                    <div id="social_links-widget-2" class="grid-block">
                        <div class="fusion-social-networks">
                            <div class="fusion-social-networks-wrapper">

                                <a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" href="https://www.facebook.com/seniorsasa"
                                   data-placement="top" data-title="Facebook" data-toggle="tooltip" data-original-title=""
                                   title="Facebook" target="_self" style="font-size:16px;color:#bebdbd;"></a>

                            </div>
                        </div>

                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div class="grid-block vertical">
                    <div id="nav_menu-2" class="fusion-footer-widget-column fusion-footer-widget-area widget widget_nav_menu">
                        <div class="menu-footer_menu-container">
                            <ul id="menu-footer_menu" class="menu">
                                <li id="menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-392 current_page_item menu-item-579"><a asp-action="index" asp-controller="home">Home</a></li>
                                <li id="menu-item-2050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2050"><a href="http://www.mindsage.org/public/whymindsage.html">Why MindSage?</a></li>
                                <li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="http://www.mindsage.org/public/whatmindsage.html">What is Mindsage?</a></li>
                                <li id="menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-582"><a href="http://www.mindsage.org/public/approach.html">Our approach</a></li>
                                <li id="menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-581"><a href="http://www.mindsage.org/public/whystart.html">Why start now?</a></li>
                                <li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585"><a href="http://www.mindsage.org/public/necessity.html">Are soft skills necessary?</a></li>
                                <li id="menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-583"><a href="http://www.mindsage.org/public/organisation.html">Our organization</a></li>
                                <li id="menu-item-1744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1744"><a href="http://www.mindsage.org/public/21century.html">21st Century Skills Community Centers</a></li>
                                <li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="http://www.mindsage.org/public/seminars.html">Mindsage seminars</a></li>
                            </ul>
                        </div><div style="clear:both;"></div>
                    </div>
                </div>
                <div class="grid-block vertical">
                    <div ng-include src="'/home/contactUs'"></div>
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/assets/js/foundation.js"></script>
        <script src="~/assets/js/templates.js"></script>
        <script src="~/assets/js/routes.js"></script>
        <script src="~/assets/js/app.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/owlcarousel/owl-carousel/owl.carousel.js"></script>
        <script src="~/lib/foundation-datepicker/js/foundation-datepicker.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/assets/js/foundation.js"></script>
        <script src="~/assets/js/templates.js"></script>
        <script src="~/assets/js/routes.js"></script>
        <script src="~/assets/js/app.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/owlcarousel/owl-carousel/owl.carousel.js"></script>
        <script src="~/lib/foundation-datepicker/js/foundation-datepicker.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
