@{
    ViewData["Title"] = "Error";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
</div>