@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

$font-path: "../fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "../fonts/foundation-icons/foundation-icons.css";

///////////// Overlay /////////

.image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.04);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: $global-radius;
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

// modifier classes

.overlay-fade-in {

    p {
        letter-spacing: 0.15em;
        color: #f4f4f4;
        font-size: 28px;
        opacity: 0;
        transition: all 0.2s linear;
    }

    img {
        transition: all 0.2s linear;
    }

    .image-overlay-content {
        opacity: 0;
        background-color: rgba(0,0,0, 0.4);
        transition: all 0.4s ease-in-out;
    }

    h2 {
        color: #f2f2f2;
        font-size: 1.8rem;
        margin-top: 40%;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        background: rgba(0,0,0,0.7);
    }

    .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #FFF;
        color: #222;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000;
        position: relative;
        border: 1px solid #999;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 0 5px #000;
        }
    }

    &:hover img {
        transform: scale(1.2);
    }

    &:hover .image-overlay-content {
        opacity: 1;
    }

    &:hover h2, p, .button {
        opacity: 1;
    }

    &:hover p {
        transition-delay: 0.1s;
    }

    &:hover .button {
        transition-delay: 0.2s;
    }
}









.overlay-slide-in-left {

    img {
        transition: all 0.3s ease-in-out;
    }

    .image-overlay-content {
        background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
        background-color: rgba(0,0,0,0.3);
        transform: translateX(-110%);
        opacity: 1;
        transition: all 0.4s ease-in-out;
        box-shadow: 0 0 7px #ccc;
    }

    h2 {
        font-size: 1.8rem;
        background: rgba(255, 255, 255, 0.7);
        margin-top: 40%;
        color: #000;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    }

    p {
        opacity: 0;
        color: #333;
        transition: all 0.2s linear;
    }

    .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000;
        position: relative;
        border-radius: 7px;

        &:hover {
            background-color: #444;
        }
    }

    &:hover .image-overlay-content {
        transform: translateX(0px);
    }

    &:hover img {
        transform: translateX(80%);
        transition-delay: 0.1s;
    }

    &:hover p {
        opacity: 1;
        transition-delay: 0.4s;
    }
}


.overlay-fade-in-new-background {

    .button {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        box-shadow: 0 0 1px #000;
        position: relative;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 0 5px #fff;
            background-color: #222;
        }
    }

    p {
        font-size: 28px;
    }

    .image-overlay-content {
        background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
        transition: all 0.4s ease-in-out;

        h2 {
            color: #fff;
            font-size: 1.6rem;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        h1 {
            color: #fff;
            margin-top: 30%;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        p {
            opacity: 0;
            color: #000;
            transition: all 0.2s linear;
        }

        .button {
            opacity: 0;
            transition: all 0.2s linear;
        }
    }

    img {
        transition: all 0.2s ease-in-out;
    }

    &:hover img {
        // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        // filter: gray;
        //-webkit-filter: grayscale(100%);
        transform: scale(1.5);
    }

    &:hover .image-overlay-content {
        background-color: rgba(255,255,255, 0.7);

        p, .button {
            opacity: 1;
        }
    }

    &:hover h1 {
        color: #000;
    }

    &:hover h2 {
        color: #000;
    }

    &:hover p {
        transition-delay: 0.1s;
    }

    &:hover .button {
        transition-delay: 0.2s;
    }
}

////////////////Footer///////////
.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  
  .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
  }
  h3{
      color:$dark-gray;
  }
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
  }
  
  .footer-form {
    textarea, input {
      border-radius: 3px;
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      font: inherit;
      font-size: 0.875rem;
      font-weight: normal;
      color: #d1d2d2;
      padding: 1.3rem;
    }
    
    label {
      color: #fff;
      font-size: 1.2rem;
      margin: 0 0 1rem 0;
      font-weight: bold;
    }
    
    .submit {
      border-radius: 3px;
      background-color: #33383b;
      color: #ffffff;
      border: 0;
      padding: 1rem 3.5rem;
      font-weight: bold;
      float: right;
      margin: 0 1rem 2rem 0;
    }
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    padding: 4rem;
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .footer-form {
      .contact {
        position: absolute;
        left: -45%;
        top: 10%;
      }
    }
    
  }
}