@model MindSageWeb.ViewModels.PurchaseCourse.CoursePurchasedViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-block">
    <div class="grid-container large-3">
        <h4>Thank You For Purchase</h4>
        <div class="callout clearfix">
            <div class="columns">
                <div class="float-left"><img width="100" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" /></div>
                <div class="float-right"><h5>@Model.TotalChargeAmount.ToString("C2")</h5></div>
            </div>
            <hr />

            <div class="columns">
                <h5>Billing Address</h5>
                <p>
                    @Model.AddressSummary
                </p>
            </div>
            <hr />
            <div class="columns">
                <h5>Pay With</h5>
                <div class="float-left"><h5><i class="fi-credit-card"></i> @Model.CardType x-@Model.LastFourDigits</h5></div>
                <div class="float-right"><h5>@Model.TotalChargeAmount.ToString("C2")</h5></div>
            </div>
        </div>
        <div class="callout clearfix">
            <a href="/my/preparing" class="button large expanded">Go to my course</a>
            <a asp-controller="Home" asp-action="Index" class="button large expanded">Go to home</a>
        </div>
    </div>
</div>