@using MindSageWeb.ViewModels.PurchaseCourse
@model MindSageWeb.ViewModels.PurchaseCourse.PurchaseCourseViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-block">
    <div class="grid-container large-3">
        <form asp-controller="purchase" asp-action="index" method="post" role="form">
            @Html.HiddenFor(it => it.CourseId)
            <div class="large-12 grid-content">
                <h4>Purchase Information</h4>
            </div>
            <div class="grid-block">
                <div class="large-6 grid-content">
                    <label>
                        First Name
                        <input asp-for="CreditCardInfo.FirstName" ng-model="firstname" />
                        <span asp-validation-for="CreditCardInfo.FirstName" class="form-error"></span>
                    </label>
                </div>
                <div class="large-6 grid-content">
                    <label>
                        Last Name
                        <input asp-for="CreditCardInfo.LastName" ng-model="lastname" />
                        <span asp-validation-for="CreditCardInfo.LastName" class="form-error"></span>
                    </label>
                </div>
            </div>
            <div class="grid-block">
                <div class="large-8 grid-content">
                    <label>
                        Card Number
                        <input asp-for="CreditCardInfo.CardNumber" ng-model="creditcardNo" ng-minlength="13" ng-maxlength="20" type="number" min="0" placeholder="your credit card without dash '-'" />
                        <span asp-validation-for="CreditCardInfo.CardNumber" class="form-error"></span>
                    </label>
                </div>
                <div class="large-4 grid-content">
                    <label>
                        Card Type
                    </label>
                    <select asp-for="CreditCardInfo.CardType" asp-items="Html.GetEnumSelectList<CreditCardType>()" ng-model="cardtype"></select>
                </div>
            </div>
            <div class="grid-block">
                <div class="large-4 grid-content">
                    <label>
                        Exp Month
                        <input asp-for="CreditCardInfo.ExpiredMonth" placeholder="MM" min="1" max="12" ng-model="expmonth" />
                        <span asp-validation-for="CreditCardInfo.ExpiredMonth" class="form-error"></span>
                    </label>
                </div>
                <div class="large-4 grid-content">
                    <label>
                        Exp Year
                        <input asp-for="CreditCardInfo.ExpiredYear" type="number" min="@DateTime.Now.Year" placeholder="YYYY" ng-model="expyear" />
                        <span asp-validation-for="CreditCardInfo.ExpiredYear" class="form-error"></span>
                    </label>
                </div>
                <div class="large-4 grid-content">
                    <label>
                        CVV Code
                        <input asp-for="CreditCardInfo.CVV" type="number" min="0" placeholder="ex: 123" ng-model="cvv" />
                        <span asp-validation-for="CreditCardInfo.CVV" class="form-error"></span>
                    </label>
                </div>
            </div>
            <div class="large-12 grid-content">
                <label>
                    Billing Address
                    <input asp-for="PrimaryAddress.Address" ng-model="address" />
                    <span asp-validation-for="PrimaryAddress.Address" class="form-error"></span>
                </label>
            </div>
            <div class="grid-block">

                <div class="large-6 grid-content">
                    <label>
                        State
                        <input asp-for="PrimaryAddress.State" ng-model="state" />
                        <span asp-validation-for="PrimaryAddress.State" class="form-error"></span>
                    </label>
                </div>
                <div class="large-6 grid-content">
                    <label>
                        City
                        <input asp-for="PrimaryAddress.City" ng-model="city" />
                        <span asp-validation-for="PrimaryAddress.City" class="form-error"></span>
                    </label>
                </div>
            </div>
            <div class="grid-block">
                <div class="large-8 grid-content">
                    <label>
                        Country
                    </label>
                    <select asp-for="PrimaryAddress.Country" asp-items="Html.GetEnumSelectList<Country>()" ng-model="country"></select>
                </div>
                <div class="large-4 grid-content">
                    <label>
                        Zip Code
                        <input asp-for="PrimaryAddress.ZipCode" type="number" min="0" ng-model="zipcode" />
                        <span asp-validation-for="PrimaryAddress.ZipCode" class="form-error"></span>
                    </label>
                </div>
            </div>
            <div class="grid-content">
                <button ng-class="{disabled: (address==null || state==null || city==null || country==null ||
                            cardtype==null || creditcardNo==null || firstname==null || lastname==null ||
                            expmonth==null || expyear==null || cvv==null || zipcode==null)}" ng-disabled="address==null || state==null || city==null || country==null ||
                            cardtype==null || creditcardNo==null || firstname==null || lastname==null ||
                            expmonth==null || expyear==null || cvv==null || zipcode==null"
                        zf-open="confirmModal" class="button large">
                    Next
                </button>
            </div>

            <div zf-modal="" id="confirmModal">
                <a zf-close="" class="close-button">x</a>
                <h4>Payment Detail</h4>
                <div class="callout clearfix">
                    <div class="columns">
                        <div class="float-left"><img width="100" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" /></div>
                        <div class="float-right"><h5>@Model.TotalChargeAmount.ToString("C2")</h5></div>
                    </div>
                    <hr />

                    <div class="columns">
                        <h5>Billing Address</h5>
                        <address>
                            {{ address }} {{ state }} {{ city }} {{ country==0? 'USA' : '' }} {{ zipcode }}
                        </address>
                    </div>
                    <hr />
                    <div class="clearfix">
                        <h5>Pay With</h5>
                        <div class="float-left"><h5><i class="fi-credit-card"></i> {{ cardtype==0? 'Visa' : 'Master Card' }} {{ creditcardNo }}</h5></div>
                        <div class="float-right"><h5>@Model.TotalChargeAmount.ToString("C2")</h5></div>
                    </div>
                    <div class="column">
                        <button type="submit" class="button large expanded">Pay now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>