<div class="large-8 push-4 large-offset-1 columns">
    <label class="large-4">
        Begin Date
        <input ng-model="BeginDate" type="date"ng-init="BeginDate = cx.setBeginDate()">
    </label>
    <div class="button" ng-click="cx.SetStartDate(BeginDate)">Set Begin Date</div>
    <div  ng-show="cx.courseInformation.BeginDate">
        <ul class="calendar">
            <li class="title"><span class="button" ng-click="cx.prevMount()"><<<</span>{{cx.monthNames}} {{cx.year}}<span class="button" ng-click="cx.nextMount()">>>></span></li>
            <li class="day-header">
                <div class="large-1 day">Sun</div>
                <div class="large-1 day">Mon</div>
                <div class="large-1 day">Tue</div>
                <div class="large-1 day">Wed</div>
                <div class="large-1 day">Thu</div>
                <div class="large-1 day">Fri</div>
                <div class="large-1 day">Sat</div>
            </li>

            <li class="week" ng-repeat="week in cx.allweeks">
                <div class="large-1 day" ng-repeat="day in week"  ng-class="{'today':cx.CheckToday(day),'holiday':cx.IsHoliday(day),'previous-month': day.getMonth()<cx.month,'next-month': day.getMonth()>cx.month ,'dodd':cx.IsOdd(day),'deven':cx.IsEven(day),'selected':cx.OnSelected(day)}"  ng-click="cx.Selected(day)">{{day.getDate()}} <span>{{cx.IsStartLesson(day)}}</span></div>
            </li>
            <!-- Repeat for additional weeks -->
        </ul>
        <div style="border-bottom: solid 2px #8a8a8a;">
            <h5>Select Day</h5>
            <div class="text-center row"><h5 class="columns">{{cx.fisrtSelected | date:"MM/dd/yyyy"}}</h5><h5 ng-show="cx.lastSelected" class="columns"> - {{cx.lastSelected | date:"MM/dd/yyyy"}}</h5></div>
            <div class="row" ng-init="IsHoliday=true">
                    <div class="large-3 columns"><input  ng-model="IsHoliday" type="radio" value="true" ng-checked="true"> Set Holiday</div>
                    <div class="large-3 columns end"><input  ng-model="IsHoliday" type="radio" value="false"> Unset Holiday</div>
            </div>
            <div>
                <input ng-model="Sifht" type="checkbox">Sift
            </div>
            <div class="button" ng-click="cx.SetCourseScheduleRange(IsHoliday,Sifht)">Submit</div>
            <div class="button large-offset-1">Cancel</div> 
        </div>
        <div style="border-bottom: solid 2px #8a8a8a;">
            <h5>Select Week Days</h5>
                <input ng-model="sun"  type="checkbox"> Sun
                <input ng-model="mon" type="checkbox"> Mon
                <input ng-model="tue" type="checkbox"> Tue
                <input ng-model="wed" type="checkbox"> Wed
                <input ng-model="tur" type="checkbox"> Tur
                <input ng-model="fri" type="checkbox"> Fri
                <input ng-model="sat" type="checkbox"> Sat
            <div class="row" ng-init="IsHolidayWeek=true">
                <div class="large-3 columns"><input ng-model="IsHolidayWeek" type="radio" value="true" ng-checked="true"> Set Holiday</div>
                <div class="large-3 columns end"><input ng-model="IsHolidayWeek" type="radio" value="false"> Unset Holiday</div>
            </div>
            <div>
                <input ng-model="SifhtWeek" type="checkbox">Sift
            </div>
            <div class="button" ng-click="cx.SetCourseScheduleWeek(IsHoliday,SifhtWeek,sun,mon,tue,wed,tur,fri,sat)">Submit</div>
            <div class="button large-offset-1">Cancel</div> 
        </div>
        <div>
            <h5>Set Apply to all course</h5>
            <div class="button" ng-click="cx.ApplyToAllCourse()">Apply to all course</div>
        </div>
    </div>
</div>
