<div class="large-8 push-4 large-offset-1 columns">
    <h1 class="lesson-header">COURSE MAP</h1>
    <div ng-repeat="item in cx.content" class="lesson-bg accordion" data-accordion data-allow-all-closed="true" on-finish-render>
        <div class="row" ng-class="{ 'is-active':$first }" data-accordion-item>
            <div class="title float-left">
                <h2>SEMESTER {{ item.SemesterName }}</h2>
            </div>
            <a class="float-right icon">
                 <i class="fi-plus size-24"></i>
            </a>
            <div class="accordion-item control" ng-class="{ 'undisplay':!$first }"  data-tab-content>
                <div class="row small-up-2 medium-up-2 large-up-5 lesson-map" >
                    <div ng-repeat="lesson in item.LessonStatus" class="column lesson-icon">
                        <img class="thumbnail" src="http://placehold.it/100x100">
                        <p>{{ lesson.LessonWeekName }}</p>
                        <p>IsLock: {{ lesson.IsLocked }}</p>
                        <p>IsCurrent: {{ lesson.IsCurrent }}</p>
                        <p>HaveAnyComments: {{ cx.HaveAnyComments(lesson.LessonId) }}</p>
                        <p>IsReadedAllContents: {{ cx.HaveReadAllContents(lesson.LessonId) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>