<div class="large-9 push-3 columns">

    <div class="row">
        <div class="large-6 columns">
            <h1 class="lesson-header">SEMESTER A2</h1>
        </div>
    </div>

    <div class="jounal">
        <div class="input-group">
            <span class="input-group-label"><i class="fi-magnifying-glass size-24"></i></span>
            <input class="input-group-field" type="text" placeholder="search">
        </div>

        <div class="comment">
            <div class="row">
                <div class="large-offset-2 large-9 columns">
                    <h4>{{ cx.userprofile.FullName }}</h4>
                </div>

                <div class="large-2 columns user-img"><img class="thumbnail" src="{{ cx.userprofile.ImageUrl }}"></div>
                <div class="large-10 columns">
                    <textarea rows="3"  placeholder="Add a comment to your Jounal"></textarea>
                </div>
            </div>
        </div>

        <!--
            cx.content.IsPrivateAccount
            cx.content.IsDiscussionAvailable
        -->
        <div data-accordion>
            <div ng-repeat="item in cx.GetWeeks()" ng-class="{is-active:$first}" data-accordion-item>
                <a class="accordion-title">Week {{ item }}</a>
                <div class="accordion-content" data-tab-content>
                    <div class="comment">
                        <div ng-repeat="comment in cx.GetComments(item)" class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a> Edit</a></span>
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                                <a>show discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 1</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                </p>
                                <a>hide discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div data-accordion-item>
                <a class="accordion-title">Week 2</a>
                <div class="accordion-content" data-tab-content>
                    <div class="comment">
                        <div class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a> Edit</a></span>
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                                <a>show discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 1</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                </p>
                                <a>hide discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-accordion-item>
                <a class="accordion-title">Week 1</a>
                <div class="accordion-content" data-tab-content>
                    <div class="comment">
                        <div class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a> Edit</a></span>
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                                <a>show discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-accordion data-allow-all-closed="true">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 1</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns" data-accordion-item>
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                </p>
                                <a>hide discussion (5)</a>
                                <div class="undisplay" data-tab-content>
                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a></h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <textarea rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                                            <div class="large-10 columns">
                                                <p>
                                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                                    <span class="comment-button"><a> Edit</a></span>
                                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
</div>

<script>
    $(document).foundation();
</script>