<div class="large-8 push-4 large-offset-1 columns">

    <div class="row">
        <div class="large-6 columns">
            <h1 class="lesson-header">SEMESTER A2</h1>
        </div>
    </div>

    <div class="jounal">
        
        <div class="input-group">
            <span class="input-group-label"><i class="fi-magnifying-glass size-24"></i></span>
            <input class="input-group-field" type="text" placeholder="search" ng-model="search.$">
        </div>

        <div class="comment">
            <div class="row">
                <div class="large-offset-2 large-9 columns">
                    <h4>{{ cx.userprofile.FullName }}</h4>
                </div>

                <div class="large-2 columns user-img"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ cx.userprofile.ImageUrl }}"></div>
                <div class="large-10 columns">
                    <textarea  ng-model="message" rows="3"  placeholder="Add a comment to your Jounal"></textarea>

                    <div class="float-right">
                        <button ng-click="cx.CreateNewComment(message)" class="button">Post</button>
                    </div>
                </div>
            </div>
        </div>

        <!--
            cx.content.IsPrivateAccount
            cx.content.IsDiscussionAvailable
        -->
        <div ng-show="cx.content.IsPrivateAccount && !cx.content.IsDiscussionAvailable">
            <label> Accout is Private</label>
        </div>
        <div data-accordion ng-show="!cx.content.IsPrivateAccount || cx.content.IsDiscussionAvailable">
            <div ng-show="cx.GetWeeks().length == 0">Have no comment</div>
            <div ng-repeat="item in cx.GetWeeks()" ng-class="{ 'is-active':$first }" data-accordion-item on-finish-render>
                <a class="accordion-title">Week {{ item }}</a>
                <div class="accordion-content" data-tab-content>
                    <div class="comment">
                        <label ng-show="(cx.GetComments(item) | filter:search).length == 0">no comment</label>

                        <div ng-repeat="comment in cx.MyComments | orderBy: 'Order'" ng-show="item == cx.GetWeeks()[0] && cx.target == cx.userprofile.UserProfileId" class="row" data-accordion data-allow-all-closed="true" on-finish-render>
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">{{ comment.CreatorDisplayName }}</a><span class="comment-time"> week {{ comment.LessonWeek }}</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ comment.CreatorImageUrl }}"></div>

                            <div class="large-10 columns" data-accordion-item>
                                <p ng-show="!isclose">
                                    {{ comment.Description }}
                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId" ng-click="isclose = cx.EditOpen(comment.Description,isclose)"><a> Edit</a></span>
                                    <span class="comment-button" ng-show="cx.likes.LikeCommentIds.indexOf(comment.id) == -1" ng-click="cx.LikeComment(comment.id, cx.likes.LikeCommentIds.indexOf(comment.id))"><a><i class="fi-heart size-24"></i></a> {{ comment.TotalLikes }} people like this</span>
                                    <span class="comment-button like" ng-show="cx.likes.LikeCommentIds.indexOf(comment.id) != -1" ng-click="cx.LikeComment(comment.id, cx.likes.LikeCommentIds.indexOf(comment.id))"><a><i class="fi-heart size-24"></i></a> {{ comment.TotalLikes }} people like this</span>
                                    <span class="comment-button" ng-click="cx.DeleteComment(comment)" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId || cx.userprofile.IsTeacher"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                                <div ng-show="isclose">
                                    <textarea ng-model="cx.message"></textarea>
                                    <button ng-click="isclose = cx.SaveEdit(comment.id, isclose)" class="button">Save</button>
                                    <button ng-click="isclose = cx.CancelEdit(isclose)" class="button">Cancel</button>
                                </div>
                                <a ng-click="discusClose = cx.showDiscussion(comment, discusClose)">
                                    <p ng-show="!discusClose">show discussion ({{ comment.TotalDiscussions }})</p>
                                    <p ng-show="discusClose">hide discussion ({{ comment.TotalDiscussions }})</p>
                                </a>
                                <div class="undisplay" data-tab-content>

                                    <div class="discussion" ng-show="cx.content.IsDiscussionAvailable">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4>{{ cx.currentUser.FullName }}</h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ cx.currentUser.ImageUrl }}"></div>
                                            <div class="large-10 columns">
                                                <textarea ng-model="discussionMsg" rows="3"></textarea>

                                                <div class="float-right">
                                                    <button ng-click="cx.CreateNewDiscussion(comment.id, discussionMsg)" class="button">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div ng-repeat="discussion in cx.discussions | filter: { CommentId: comment.id } | orderBy: 'Order'" class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4>{{ discussion.CreatorDisplayName }}<span class="comment-time"></span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ discussion.CreatorImageUrl }}"></div>
                                            <div class="large-10 columns">
                                                <p ng-show="!discussion_isclose">
                                                    {{ discussion.Description }}
                                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == discussion.CreatedByUserProfileId" ng-click="discussion_isclose = cx.EditOpen(discussion.Description,discussion_isclose)"><a> Edit</a></span>
                                                    <span class="comment-button" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) == -1" ng-click="cx.LikeDiscussion(comment.id,discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                                    <span class="comment-button like" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) != -1" ng-click="cx.LikeDiscussion(comment.id,discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId || cx.userprofile.UserProfileId == discussion.CreatedByUserProfileId || cx.userprofile.IsTeacher"
                                                          ng-click="cx.DeleteDiscussion(comment.id, discussion)"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                                <div ng-show="discussion_isclose">
                                                    <textarea ng-model="cx.message"></textarea>
                                                    <button ng-click="discussion_isclose = cx.SaveEditDiscus(comment.id, discussion.id, discussion_isclose)" class="button">Save</button>
                                                    <button ng-click="discussion_isclose = cx.CancelEdit(discussion_isclose)" class="button">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-repeat="comment in cx.GetComments(item) | filter:search  | orderBy: 'Order'" class="row" data-accordion data-allow-all-closed="true" on-finish-render>
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">{{ comment.CreatorDisplayName }}</a><span class="comment-time"> week {{ comment.LessonWeek }}</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ comment.CreatorImageUrl }}"></div>

                            <div class="large-10 columns" data-accordion-item>
                                <p ng-show="!isclose">
                                    {{ comment.Description }}
                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId" ng-click="isclose = cx.EditOpen(comment.Description,isclose)"><a> Edit</a></span>
                                    <span class="comment-button" ng-show="cx.likes.LikeCommentIds.indexOf(comment.id) == -1" ng-click="cx.LikeComment(comment.id, cx.likes.LikeCommentIds.indexOf(comment.id))"><a><i class="fi-heart size-24"></i></a> {{ comment.TotalLikes }} people like this</span>
                                    <span class="comment-button like" ng-show="cx.likes.LikeCommentIds.indexOf(comment.id) != -1" ng-click="cx.LikeComment(comment.id, cx.likes.LikeCommentIds.indexOf(comment.id))"><a><i class="fi-heart size-24"></i></a> {{ comment.TotalLikes }} people like this</span>
                                    <span class="comment-button" ng-click="cx.DeleteComment(comment)" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId || cx.userprofile.IsTeacher"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                                <div ng-show="isclose">
                                    <textarea ng-model="cx.message"></textarea>
                                    <button ng-click="isclose = cx.SaveEdit(comment.id, isclose)" class="button">Save</button>
                                    <button ng-click="isclose = cx.CancelEdit(isclose)" class="button">Cancel</button>
                                </div>
                                <a ng-click="discusClose = cx.showDiscussion(comment, discusClose)">
                                    <p ng-show="!discusClose">show discussion ({{ comment.TotalDiscussions }})</p>
                                    <p ng-show="discusClose">hide discussion ({{ comment.TotalDiscussions }})</p>
                                </a>
                                <div class="undisplay" data-tab-content>

                                    <div class="discussion" ng-show="cx.content.IsDiscussionAvailable">
                                        <div class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4>{{ cx.currentUser.FullName }}</h4>
                                            </div>

                                            <div class="large-2 columns user-img"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ cx.currentUser.ImageUrl }}"></div>
                                            <div class="large-10 columns">
                                                <textarea ng-model="discussionMsg" rows="3"></textarea>

                                                <div class="float-right">
                                                    <button ng-click="cx.CreateNewDiscussion(comment.id, discussionMsg)" class="button">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discussion">
                                        <div ng-repeat="discussion in cx.discussions | filter: { CommentId: comment.id } | orderBy: '-Order'" class="row">
                                            <div class="large-offset-2 large-9 columns">
                                                <h4>{{ discussion.CreatorDisplayName }}<span class="comment-time"></span></h4>
                                            </div>
                                            <div class="large-2 columns"><img class="thumbnail" style="width: 5em; height: 5em;" src="{{ discussion.CreatorImageUrl }}"></div>
                                            <div class="large-10 columns">
                                                <p ng-show="!discussion_isclose">
                                                    {{ discussion.Description }}
                                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == discussion.CreatedByUserProfileId" ng-click="discussion_isclose = cx.EditOpen(discussion.Description,discussion_isclose)"><a> Edit</a></span>
                                                    <span class="comment-button" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) == -1" ng-click="cx.LikeDiscussion(comment.id,discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                                    <span class="comment-button like" ng-show="cx.likes.LikeDiscussionIds.indexOf(discussion.id) != -1" ng-click="cx.LikeDiscussion(comment.id,discussion.id, cx.likes.LikeDiscussionIds.indexOf(discussion.id))"><a><i class="fi-heart size-24"></i></a> {{ discussion.TotalLikes }} people like this</span>
                                                    <span class="comment-button" ng-show="cx.userprofile.UserProfileId == comment.CreatedByUserProfileId || cx.userprofile.UserProfileId == discussion.CreatedByUserProfileId || cx.userprofile.IsTeacher"
                                                          ng-click="cx.DeleteDiscussion(comment.id, discussion)"><a><i class="fi-trash size-24"></i></a></span>
                                                </p>
                                                <div ng-show="discussion_isclose">
                                                    <textarea ng-model="cx.message"></textarea>
                                                    <button ng-click="discussion_isclose = cx.SaveEditDiscus(comment.id, discussion.id, discussion_isclose)" class="button">Save</button>
                                                    <button ng-click="discussion_isclose = cx.CancelEdit(discussion_isclose)" class="button">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
