<div class="large-8 push-4 large-offset-1 columns">

    <div class="row">
        <div class="large-6 columns">
            <h1 class="lesson-header">SEMESTER {{ cx.content.SemesterName }}</h1>
        </div>
        <div ng-show="cx.content.IsTeacher" class="large-6 columns view-select">
            <a ng-class="{ 'active': cx.teacherView }" ng-click="cx.selectTeacherView()">TEACHER VIEW</a>
            <span>|</span>
            <a ng-class="{ 'active': !cx.teacherView }" ng-click="cx.selectStdView()">STUDENT VIEW</a>
        </div>
    </div>

    <div ng-show="{{ cx.content.CourseMessage!=null }}" class="alert callout" data-closable>
        <div class="row">
            <div class="large-1 small-1 columns">
                <i class="fi-alert size-36"></i>
            </div>
            <div class="large-11 small-11 columns">
                <p>{{ cx.content.CourseMessage }}</p>
            </div>
        </div>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="lesson-bg accordion have-like">
        <div class="row" data-accordion data-allow-all-closed="true">
            <div class="title">
                <h2>Week {{ cx.content.Order }}</h2>
            </div>

            <div ng-show="cx.teacherView" class="detail control" data-accordion-item>
                <h3>{{ cx.content.Title }}</h3>
                <p class="week-info"></p>
                <p>{{ cx.content.ShortTeacherLessonPlan }}</p>
                <a>
                    <p> > More Details</p>
                </a>
                <div class="undisplay" data-tab-content>
                    <div>
                        <p>{{ cx.content.FullTeacherLessonPlan }}</p>
                    </div>
                </div>
            </div>

            <div ng-show="!cx.teacherView" class="detail control" data-accordion-item>
                <h3>{{ cx.content.Title }}</h3>
                <p class="week-info"></p>
                <p>{{ cx.content.ShortDescription }}</p>
                <a>
                    <p> > More Details</p>
                </a>
                <div class="undisplay" data-tab-content>
                    <div>
                        <p>{{ cx.content.FullDescription }}</p>
                    </div>
                    <div>
                        <h4 class="extra-header">Extra learning</h4>
                        <ul ng-repeat="item in cx.content.ExtraContentUrls">
                            <li class="extra">
                                <p>Extra {{ $index + 1 }}</p>
                                <a>{{ item }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p>
            <span class="comment-button"><a><i class="fi-heart size-36"></i></a></span> Jim Gordon, Kirk Jameson, Robin Embler, Justin Ripley
        </p>
    </div>

    <div class="comment" ng-show="!cx.teacherView">
        <div class="row">
            <div class="large-offset-2 large-9 columns">
                <h4>{{ cx.currentUser.FullName }}</h4>
            </div>
            <div class="large-2 columns user-img"><img class="thumbnail" src="{{ cx.currentUser.ImageUrl }}"></div>
            <div class="large-10 columns">
                <textarea ng-model="message" rows="3"></textarea>
            </div>
            <div class="large-1 columns">
                <button ng-click="cx.CreateAComment(message)" class="button">Post</button>
            </div>
        </div>
    </div>

    <div class="comment" ng-show="!cx.teacherView">
        <div class="row" ng-repeat="item in cx.comment.Comments" data-accordion data-allow-all-closed="true" on-finish-render>
            <div class="large-offset-2 large-9 columns">
                <h4>{{ item.CreatorDisplayName }}<span class="comment-time"></span></h4>
            </div>
            <div class="large-2 columns"><img class="thumbnail" src="{{ item.CreatorImageUrl }}"></div>
            <div class="large-10 columns" data-accordion-item>
                <p>{{ item.Description }}
                    <span class="comment-button" ng-show="cx.currentUser.UserProfileId == item.CreatedByUserProfileId"><a> Edit</a></span>
                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                    <span class="comment-button" ng-show="cx.currentUser.UserProfileId == item.CreatedByUserProfileId"><a><i class="fi-trash size-24"></i></a></span>
                </p>
                <a ng-show="item.id != cx.openDiscussion" ><div ng-click="cx.showDiscussion(item)">show discussion ({{ item.TotalDiscussions }})</div></a>
                <a ng-show="item.id == cx.openDiscussion"><div ng-click="cx.hideDiscussion()">hide discussion ({{ item.TotalDiscussions }})</div></a>
                <div class="undisplay" data-tab-content>

                    <div class="discussion">
                        <div class="row">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a></h4>
                            </div>

                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns">
                                <textarea rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="discussion">
                        <div ng-repeat="discussion in cx.GetDiscussions(item.id)" class="row">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns">
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--<div class="row" data-accordion data-allow-all-closed="true">
            <div class="large-offset-2 large-9 columns">
                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 1</span></h4>
            </div>
            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
            <div class="large-10 columns" data-accordion-item>
                <p>But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                    using the default <code>data-closable</code> parameters, and simply fade out.
                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                </p>
                <a>hide discussion (5)</a>
                <div class="undisplay" data-tab-content>
                    <div class="discussion">
                        <div class="row">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a></h4>
                            </div>

                            <div class="large-2 columns user-img"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns">
                                <textarea rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="discussion">
                        <div class="row">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Jim Gordon</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns">
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-offset-2 large-9 columns">
                                <h4><a href="#">Tim Turnner</a><span class="comment-time"> week 2</span></h4>
                            </div>
                            <div class="large-2 columns"><img class="thumbnail" src="http://placehold.it/100x100"></div>
                            <div class="large-10 columns">
                                <p>
                                    But when you're done reading it, click the close button in the corner to dismiss this alert. I'm
                                    using the default <code>data-closable</code> parameters, and simply fade out.
                                    <span class="comment-button"><a> Edit</a></span>
                                    <span class="comment-button like"><a><i class="fi-heart size-24"></i></a></span>
                                    <span class="comment-button"><a><i class="fi-trash size-24"></i></a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>