<div class="large-8 push-4 large-offset-1 columns setting" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <div class="row">
        <div class="large-6 columns">
            <h1 class="lesson-header">SETTINGS</h1>
        </div>
    </div>

    <div class="settting-edit clearfix" data-accordion-item ng-init="IsPrivate = false">
        <div class="small-4 large-2 columns">
            <p>User Info</p>
        </div>
        <a class="small-2 large-2 columns" ng-show="!explan" ng-click="explan = !explan">Edit</a>
        <a class="small-2 large-2 columns" ng-show="explan" ng-click="cx.UpdateProfile(cx.userInfo.FullName, cx.userInfo.SchoolName,cx.userInfo.IsPrivateAccout,cx.userInfo.IsReminderOnceTime) ; explan = !explan">Save</a>
        <div class="control undisplay" data-tab-content>
            <div class="large-12">
                <div class="row">
                    <div class="small-8 columns">
                        <label>
                            Name
                            <input ng-model="cx.userInfo.FullName" type="text">
                        </label>
                           <p>Email : {{cx.userInfo.UserProfileId}}</p>
                    </div>

                    <div class="small-4 columns">
                        <div class="small-12 small-centered center">
                            <div><img class="thumbnail" style="width: 100px; height: 100px;" src="{{ cx.userInfo.ImageUrl }}"></div>
                            <div><a>Edit</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <label>
                            School
                            <input ng-model="cx.userInfo.SchoolName" type="text">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <label>
                            <input ng-model="cx.userInfo.IsPrivateAccout" type="checkbox">
                            Private account
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        Reminder
                    </div>
                    <div class="small-3 columns">
                        <label>
                            <input ng-model="cx.userInfo.IsReminderOnceTime" type="radio" ng-value=true>
                            ReminderOnceTime
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <label>
                            <input ng-model="cx.userInfo.IsReminderOnceTime" type="radio" ng-value=false>
                            ReminderTwiceTime
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <label>
                            Enter Password
                            <input type="text" disabled>
                        </label>
                    </div>

                    <div class="small-6 columns">
                        <label>
                            Re-Enter Password
                            <input type="text" disabled>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settting-edit clearfix" data-accordion-item>
        <div class="small-4 large-2 columns">
            <p>Class Info</p>
        </div>
        <a class="small-2 large-2 columns" ng-show="!bottomexplan" ng-click="bottomexplan = !bottomexplan">Edit</a>
        <a class="small-2 large-2 columns" ng-show="bottomexplan" ng-click="cx.UpdateCoursee(cx.ClassName, cx.CurrentStudentCode, cx.courseInfo.StartDate) ; bottomexplan = !bottomexplan">Save</a>

        <div class="small-6 large-4 columns">
            <a class="viewlist" ui-sref="app.course.teacherlist({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })">View Student List</a>
        </div>
        <div class="control undisplay" data-tab-content>
            <div class="large-12">
                <div class="row">
                    <div class="small-8 columns">
                        <label>
                            Class Name
                            <input ng-model="cx.ClassName" type="text">
                        </label>
                    </div>

                    <div class="small-4 columns">
                        <label class="have-help-text">
                            Class Code
                            <input ng-model="cx.CurrentStudentCode" type="text">
                            <a class="help-text">What is this?</a>
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label>
                            Number of Students {{ cx.courseInfo.NumberOfStudents }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 columns">
                        <label>
                            Start Date
                        </label>
                    </div>
                    <div ng-show="cx.courseInfo.StartDate != null">
                        <div class="small-1 columns">
                            <label>
                                <a><img width="30" src="../assets/img/logo/calendar.png" /></a>
                            </label>
                        </div>

                        <div class="small-4 columns">
                            <label>
                                <a>{{ cx.courseInfo.StartDate }}</a>
                            </label>
                        </div>
                    </div>
                    <div ng-show="cx.courseInfo.StartDate == null">
                        <div class="small-5 columns">
                            <input type="Date" ng-model="cx.courseInfo.StartDate" />
                        </div>
                    </div>
                    <div class="small-12 columns">
                        <label>
                            Set Off Days and Vacations<a><img width="30" src="../assets/img/logo/calendar.png" /></a>
                        </label>
                    </div>

                    <div class="row">
                        <div class="small-6 columns">
                            <button class="button" ng-click="cx.DeleteCourse()">Delete Course</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-10 large-centered">
        <p>Student Message</p>
        <textarea rows="3" ng-model="studentMessage"></textarea><button class="button primary float-right" ng-click="cx.StudenMessageEdit(studentMessage)">SEND</button></div></div>
<script>
    $(document).foundation();
</script>