<div class="large-3 pull-9 columns" ng-controller="app.sidemenus.SideMenuController as cx">
    <h1 class="lesson-header">
        {{ cx.userProfile.FullName }}
    </h1>
    <a href="#" ui-sref="app.course.nitification"><i class="fi-mail size-36"></i><span class="badge">1</span></a>
    <a class="float-right" href="#" data-open="classModal"><i class="fi-list size-36"></i></a>
    <ul class="vertical menu menu-bg">
        <li ng-class="{'active': 'Home' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Home')">
            <a href="#" ui-sref="app.main.lesson({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}', 'lessonId': '{{ cx.userProfile.CurrentLessonId }}' })"><i class="fi-home size-36"></i> HOME</a>
        </li>
        <li ng-class="{'active': 'Journal' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Journal')">
            <a href="#" ui-sref="app.course.journal({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}', 'targetUserId': '{{ cx.GetUserProfileId() }}' })"><i class="fi-page-multiple size-36"></i> JOURNAL</a>
        </li>
        <li ng-class="{'active': 'CourseMap' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('CourseMap')">
            <a href="#" ui-sref="app.course.coursemap({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-foundation size-36"></i> COURSE MAP</a>
        </li>
        <li ng-show="!cx.userProfile.IsTeacher" ng-class="{'active': 'StudentList' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('StudentList')">
            <a href="#" ui-sref="app.course.studentlist({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-torsos-all size-36"></i> CLASS</a>
        </li>
        <li ng-show="cx.userProfile.IsTeacher" ng-class="{'active': 'StudentList' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('StudentList')">
            <a href="#" ui-sref="app.course.teacherlist({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-torsos-all size-36"></i> CLASS</a>
        </li>
        <li ng-class="{'active': 'Setting' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Setting')">
            <a href="#" ui-sref="app.course.config({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-widget size-36"></i> SETTING</a>
        </li>
    </ul>
</div>