<div class="large-3 pull-9 columns" ng-controller="app.sidemenus.SideMenuController as cx">
    <h1 class="lesson-header">
        {{ cx.userProfile.FullName }}
    </h1>
    <a href="#" ui-sref="app.course.notification({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-mail size-36"></i><span ng-show="cx.notification > 0" class="badge">{{ cx.notification }}</span></a>
    <a class="float-right" href="#" data-open="classModal" ng-show="cx.userSvc.AllCourses.length > 1" ><i class="fi-list size-36"></i></a>
    <ul class="vertical menu menu-bg">
        <li ng-class="{'active': 'Home' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Home')">
            <a href="#" ui-sref="app.main.lesson({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}', 'lessonId': '{{ cx.userProfile.CurrentLessonId }}' })"><i class="fi-home size-36"></i> HOME</a>
        </li>
        <li ng-class="{'active': 'Journal' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Journal')">
            <a href="#" ui-sref="app.course.journal({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}', 'targetUserId': '{{ cx.GetUserProfileId() }}' })"><i class="fi-page-multiple size-36"></i> JOURNAL</a>
        </li>
        <li ng-class="{'active': 'CourseMap' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('CourseMap')">
            <a href="#" ui-sref="app.course.coursemap({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-foundation size-36"></i> COURSE MAP</a>
        </li>
        <li ng-show="!cx.userProfile.IsTeacher" ng-class="{'active': 'StudentList' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('StudentList')">
            <a href="#" ui-sref="app.course.studentlist({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-torsos-all size-36"></i> CLASS</a>
        </li>
        <li ng-show="cx.userProfile.IsTeacher" ng-class="{'active': 'StudentList' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('StudentList')">
            <a href="#" ui-sref="app.course.teacherlist({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-torsos-all size-36"></i> CLASS</a>
        </li>
        <li ng-class="{'active': 'Setting' == cx.sideMenuSvc.CurrentTabName}" ng-click="cx.ChangeTab('Setting')">
            <a href="#" ui-sref="app.course.config({ 'classRoomId': '{{ cx.userProfile.CurrentClassRoomId }}' })"><i class="fi-widget size-36"></i> SETTING</a>
        </li>
    </ul>

    <div class="reveal" id="classModal" data-reveal>
        <div class="modal-head"><h4 class="text-center">CLASS LIST</h4></div>
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <a href="#" 
                   ng-class="{'large expanded button': item.ClassRoomId == cx.userSvc.clientUserProfile.CurrentClassRoomId,
                   'large hollow expanded button': item.ClassRoomId != cx.userSvc.clientUserProfile.CurrentClassRoomId}" 
                   ng-repeat="item in cx.userSvc.AllCourses" 
                   ng-click="cx.ChangeClassRoom(item.ClassRoomId, item.LessonId, item.Name)">
                    {{ item.Name }}
                </a>
            </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>