@model WebManagementPortal.EF.CourseCatalog

@{
    ViewBag.Title = "UpdateAllCourses";
}

<h2>Update all courses</h2>

<h3>Are you sure you want to update all courses?</h3>
<div>
    <h4>Course catalogs</h4>
    <hr />

    * All of changed will be update to all courses in the MindSage (include deleted courses, semesters, units and lessons)
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-danger">Confirm update</button>
            
        </div>
    }
</div>
