@{
    ViewData["Title"] = "Login Failure";
}

<div class="row content-section">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <div class="callout alert">
            <h4>@ViewData["Title"].</h4>
            <p class="text-danger">Unsuccessful login with service.</p>
        </div>
    </div>
</div>
