@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="row content-section main-section-hight">
    <div class="medium-6 medium-centered large-5 large-centered columns">
        <h4>@ViewData["Title"].</h4>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>