@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-block">
    <div class="medium-6 large-4 grid-container Preparing">
        <h1>Sorry, your account don't have any courses</h1>
    </div>
</div>